{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord de l'association</a>
{% endblock %} 

{% block page_menu_right %}

{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}
 
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Opérations </span>
                </div>
                <ul style="margin:0px;padding: 0px" >
                    <li class="sanspuce">
                         <a href="{% url 'academy_list_parents' %}" class="white" style="padding-left: 10px"> Liste des parents  </a> 
                    </li> 
                    <hr style="color:white"/>                    
                    <li class="sanspuce">
                        <a href="{% url 'create_invoice' 0 %}" class="white" style="padding-left: 10px" > Nouvelle opération Client   </a>   
                    </li>
                    <li class="sanspuce">
                        <a href="{% url 'list_invoices'  %}"  class="no_button white" style="padding-left: 10px" > 
                            Journal opérations Client
                        </a> 
                    </li> 

 
                </ul>
            </div>
        </div>
        {% comment %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Membres </span>
                </div>
                <ul style="margin:0px;padding-left: 0px"  >
                    <li class="sanspuce">
                        <a href="{% url 'academy_list_adhesions'  %}" class="white" style="padding-left: 10px"> Liste des adhésions  </a>   
                    </li>    

                    <hr style="color:white"/>
                    <li class="sanspuce">
                     <a href="{% url 'create_school_admin' %}"  class="no_button white" style="padding-left: 10px"> Nouveau partenaire</a>
                    </li>

                    <li class="sanspuce">
                         <a href="{% url 'all_schools' %}" class="white" style="padding-left: 10px"> Liste des partenaires  </a> 
                    </li>   

                    <hr style="color:white"/>
                    <li class="sanspuce">
                        <a href="{% url 'gestion_academy_dashboard'  %}" class="white" style="padding-left: 10px"> Ré initialisation </a>   
                    </li>   


                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Comptabilité </span>    
                 </div>
                <ul  style="margin:0px;padding-left: 0px" >
                    <li class="sanspuce" style="padding-left: 10px" >
                        <a href="{% url 'create_accountancy' %}" class="no_button white">Nouvelle opération comptable</a>
                    </li>

                    <li class="sanspuce" style="padding-left: 10px" >
                        <a href="{% url 'list_accountancy' %}" class="no_button white">Journal de comptabilité</a>
                    </li> 
                    <hr style="color:white"/>
                    <li class="sanspuce" style="padding-left: 10px">
                        <a href="{% url 'bank_bilan' %}" class="no_button white">Bilan</a>
                    </li>
                    <li class="sanspuce" style="padding-left: 10px">
                        <a href="{% url 'activeyears' %}" class="no_button white">Archive</a>
                    </li>


                    <hr style="color:white"/>
                    <li class="sanspuce" style="padding-left: 10px">
                        <a href="{% url 'print_balance' %}" class="no_button white"> Imprimer la Balance <i class="bi bi-file-earmark-pdf"></i></a>   
                    </li>

                    <li class="sanspuce" style="padding-left: 10px">
                        <a href="{% url 'print_big_book' %}"  class="no_button white" > Imprimer le Grand livre <i class="bi bi-file-earmark-pdf"></i></a> 
                    </li>  
                </ul>
            </div>
        </div>
        {% endcomment %}
        
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Documents </span>
                </div>
                <hr style="color:white"/>
                <li class="sanspuce" style="padding-left: 10px">
                    <a href="{% url 'list_positionnements' %}" class="no_button white">Tests de positionnement</a>
                </li>

                <li class="sanspuce" style="padding-left: 10px">
                    <a href="{% url 'transfert_asso_acad' 0 0 %}" class="no_button white">Transfert</a>
                </li>

                <li class="sanspuce" style="padding-left: 10px">
                    <a href="{% url 'to_clean_database' 0  0 %}" class="no_button white">Nettoyage de la base</a>
                </li>
                <hr style="color:white"/>
                <li class="sanspuce">
                    <a href="{% url 'activeyears'  %}" class="white" style="padding-left: 10px"> Années d'exercice </a>   
                </li>
                <hr style="color:white"/>
                <li class="sanspuce" style="padding-left: 10px">
                    <a href="{% url 'create_all_holidays_book' %}" class="no_button white">Cahier de vacances</a>
                </li>


                <a href="{% url 'list_documents' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

 
    </div>

 

 

 
    {% endif %} 
</section> 






{% endblock %}



 