{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

  
    <script>
        require(['script/ajax-invoice']);
    </script> 


{% endblock %}


{% block page_title %} 
    {% if invoice %}Modification de la facture {{ invoice.chrono }}{% else %} Nouvelle facture{% endif %}  {% if parent %}<small> {{ parent.user.first_name}} {{ parent.user.last_name}}</small>{% endif %} 
{% endblock %}

{% block page_menu_right %}
    {% include 'association/menubar.html' %}
{% endblock %}



{% block body %}     
<div class="content_main">
    <form action="" method="POST">{% csrf_token %}
        {% if idp == 0 %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-sacado">
                    
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Bénéficiaire : </label> Si la transaction concerne un parent, rechercher ce parent dans la liste.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                {{ form.parent |add_class:"form-control select2" }}
                                {{ form.parent.errors }}
                            </div>
                        </div>                
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                {{ form.beneficiaire |add_class:"form-control"|attr:"placeholder: En faveur de"}} 
                                {{ form.beneficiaire.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row details_beneficiaire">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form.address |add_class:"form-control"|attr:"placeholder: Adresse"}} 
                                {{ form.address.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row details_beneficiaire">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                {{ form.complement |add_class:"form-control"|attr:"placeholder:Complément d'adresse"}} 
                                {{ form.complement.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row details_beneficiaire">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                {{ form.contact |add_class:"form-control"|attr:"placeholder:Mail du parent"}}  
                                {{ form.contact.errors }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                {{ form.town |add_class:"form-control"|attr:"placeholder:Ville"}}  
                                {{ form.town.errors }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                {{ form.country |add_class:"form-control select2"|attr:"placeholder:Pays"}}  
                                {{ form.country.errors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
 
        <div class="row"> 
            <div class="col-sm-4 col-md-3 col-lg-3">
                    {{ form.is_credit.label_tag }}
                    {{ form.is_credit |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Crédit"|attr:"data-off:Débit"}} 
                    {{ form.is_credit.errors }}
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
                    {{ form.forme.label_tag }}
                    {{ form.forme |add_class:"form-control select2"|attr:"placeholder:Forme"}}  
                    {{ form.forme.errors }}
            </div>
            <div class="col-sm-4 col-md-6  col-lg-6">
                    {{ form.objet.label_tag }}
                    {{ form.objet |add_class:"form-control"|attr:"placeholder:Libellé"}}  
                    {{ form.objet.errors }}
            </div>
        </div>
        <div class="row">             
            <div class="col-sm-6 col-md-6 col-lg-3">
                    {{ form.date_payment.label_tag }}
                    {{ form.date_payment |add_class:"form-control datepicker"|attr:"placeholder:Date"}}  
                    {{ form.date_payment.errors }}
            </div> 
            <div class="col-sm-6 col-md-6 col-lg-3">
                    {{ form.date.label_tag }}
                    {{ form.date |add_class:"form-control datepicker"|attr:"placeholder:Date de paiement"}}  
                    {{ form.date.errors }}
            </div> 
        </div>
 
             

 
        {{ form_ds.management_form }} 
        <script id="rowToClone" type="text/template">
            <div id="duplicate">  
                <div class="row" >
                    <div class="col-sm-8 col-md-8 col-lg-9" > 
                        <div class="form-group">
                            {{ form_ds.empty_form.description|add_class:"form-control"|attr:"placeholder:Description" }} 
                        </div> 
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2" > 
                        <div class="form-group">
                            {{ form_ds.empty_form.amount|add_class:"form-control"|attr:"placeholder:€" }}
                        </div> 
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <div class="form-group" >
                           <div class="delete_button"></div>
                        </div> 
                    </div>
                </div>
                <div class="row" id="cloningZone">                            

                </div>
            </div>
        </script>    
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">   
                    <div id="formsetZone">
                            <div class="row   alert alert-sacado">
                                <div class="col-sm-6 col-md-6" >
                                    Description et montant HT
                                </div>  
                                <div class="col-sm-6 col-md-6" >
                                    <a href="#"  class="btn btn-info add_more" >Ajouter </a><br/><br/>
                                </div>                            
                            </div>

                            {% for form_d in form_ds %}
                            <div id="duplicate0">  
                                <div class="row" >
                                    <div class="col-sm-8 col-md-9" > 
                                        <div class="form-group">
                                            {{ form_d.description|add_class:"form-control"|attr:"placeholder:Description" }} 
                                        </div> 
                                    </div>
                                    <div class="col-sm-2 col-md-2" > 
                                        <div class="form-group">
                                            {{ form_d.amount|add_class:"form-control" }}
                                        </div> 
                                    </div>
                                    <div class="col-sm-2 col-md-1">
                                        <div class="form-group" > <br/>
                                           <div class="delete_button"></div>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                                {% for hidden in form_d.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                            {% endfor %}   
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                {{ form.observation.label_tag }} <br/>
                {{ form.observation }}
                {{ form.observation.errors }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <input value="Enregistrer la transaction" type="submit" class="btn btn-primary"   />
                    <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                               class="btn btn-default "/></a>
                </div>
            </div>    
        </div>

 
    </form>
</div>  
{% endblock %}
 