{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

 

{% endblock %}



{% block page_title %}
        <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Historique des tests de positionnement
{% endblock %}

{% block page_menu_right %}
 
{% endblock %}

 


{% block body %}
    <section class="content_main"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-bordered table-hover display1000">
                    <thead>
                        <tr>
                            <th>Date</th>   
                            <th>Nom</th>                        
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in historicpositionnements %}
                            <tr>
                                <td>
                                    {{ h.date|date:"Y-m-d" }}
                                </td>
                                <td>
                                    {{ h.last_name }}
                                </td>
                                <td>
                                    {{ h.first_name }} €
                                </td> 
                                <td>
                                    {{ h.email }} €
                                </td>
                                <td>
                                    {{ positionnement.level.name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

 