{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

 

{% endblock %}



{% block page_title %}
        <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Actualités
{% endblock %}

{% block page_menu_right %}
    <a href="{% url 'create_actual' %}" class="btn btn-new pull-right">  Nouvelle actualité</a> 
{% endblock %}

 


{% block body %}
    <section class="content_main"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-sacado table-striped table-hover table-responsive">
                            <tr> 
                                <th width="100px">Date</th>
                                <th>Chrono</th> 
                                <th>Adhésions</th> 
                                <th>Montant</th> 
                                <th>Payé le</th> 
                                <th>orderID</th> 
                                <th></th> 
                            </tr>
                        {% for f in factures   %}
                            <tr> 
                                <td>{{ f.date|date:"Y-m-d" }}</td> 
                                <td>{{ f.chrono }}</td> 
                                <td>{% for a in f.adhesions.all %}
                                        <li>{{ a.student.user.first_name}} : {{ a.amount }}€, {{ a.formule }} | <br/>Du {{ a.start|date:"d-m-Y" }} au {{ a.stop|date:"d-m-Y" }} | {{ a.level }} </li>
                                    {% endfor %}
                                </td> 


                                <td >
                                     {{ f.amount }} €
                                </td> 
                                <td >
                                     {{ f.date }}
                                </td> 
                                <td style="text-align:center"> {{ f.orderID }}</td> 
                                <td style="text-align:center">
                                    <a href="{% url 'print_facture'   f.id %}"><i class="bi bi-printer"></i></a>   
                                    <a href="{% url 'delete_facture' parent.user.id f.id %}"  onclick="return TestDelete('Cette facture')"><i class="bi bi-trash"></i></a>
                                </td> 
                            </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </section>
{% endblock %}

