
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Opérations <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li class="sanspuce">
            <a href="{% url 'academy_list_parents' %}"> Nouvelle opération par parent </a> 
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_invoice' 0 %}" > Nouvelle opération Client   </a>   
        </li>
        <li>
            <a href="{% url 'list_invoices'  %}"  class="no_button" > 
                Journal opérations Client
            </a> 
        </li> 
    </ul>
</li>


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Options <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'academy_list_adhesions'  %}" ><i class="bi bi-badge-ad"></i> Liste des adhésions  </a>   
        </li>    
        <li>
             <a href="{% url 'academy_list_parents' %}" ><i class="bi bi-people"></i> Liste des parents  </a> 
        </li> 
        <li class="divider"></li>   
        <li>
            <a href="{% url 'activeyears'  %}" ><i class="bi bi-calendar3"></i> Années d'exercice </a>   
        </li>
  
        <li class="divider"></li>    
        {% if request.user.is_superuser %}
        <li>
            <a href="{% url 'gestion_academy_dashboard'  %}" ><i class="bi bi-arrow-counterclockwise"></i> Ré initialisation </a>   
        </li>   
        {% endif %}

    </ul>
</li>

