{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}



{% block require %}
    {% if avatar_student_id %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
       require(['script/ajax-avatar']);
    </script> 
{% endblock %}

{% block page_title %}
     Changer l'arrière plan 
{% endblock %}
 
{% block page_menu_right %}
{% endblock %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static 'css/crop.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/cropme.css' %}">

{% endblock %}




{% block body %}
    
<section class="content_main">

    <form action="{% url 'change_backtitle' ids %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% for backtitle in backtitles %}
                    <a href="javascript:void()" class="choicer_backtitle" data-url="{{ backtitle.image.url }}"> <img src="{{ backtitle.image.url }}" class="list_fond" width="310px" height="130px"  /></a>
                {% endfor %}
            </div>
        </div>  
        <input type="hidden" name="backtitle" id="id_backtitle"  >
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                    <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default" /></a>
                </div>   
            </div>
        </div>
    </form>
    {% comment %}
    <hr/>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            Importer un arrière plan
        </div>
    </div>

    <form action="" method="POST">
        {% csrf_token %}  
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label>Arrière plan <span class="text-danger">largeur : 310px et hauteur : 130px</span></label>
                    {{ backtitle_form.backtitle |add_class:"btn btn-default" }}
                    {{ backtitle_form.backtitle.errors }}
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Importer" type="submit" class="btn btn-primary"/>


                    <a href="javascript:history.back()">
                        <input type="button" value="Annuler"
                               class="btn btn-default" />
                    </a>


                </div>   
            </div>
        </div>

    </form>
    {% endcomment %}



</section>
 





 
 
{% endblock %}

 
