{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}



{% block require %}
    {% if avatar_student_id %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
       require(['script/ajax-avatar']);
    </script> 
{% endblock %}

{% block page_title %}
    <i class="fa fa-user"></i> Changer l'avatar
{% endblock %}
 
{% block page_menu_right %}
{% endblock %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static 'css/crop.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/cropme.css' %}">

{% endblock %}




{% block body %}
    
<section class="content_main">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% for avatar in avatars %}
                    <a href="javascript:void()" class="choicer_avatar" data-url="{{ avatar.image.url }}"> <img src="{{ avatar.image.url }}"  height='90px' width='90px' /></a>
                {% endfor %}
            </div>
        </div>  
        <input type="hidden" name="avatar" id="id_avatar"  >   
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                    <a href="javascript:history.back()"><input type="button" value="Annuler"class="btn btn-default" /></a>
                </div>   
            </div>
        </div>
    </form>
    <hr/>


    {% comment %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            Importer une image/une photo de profil
        </div>
    </div>
    <form action="" method="POST">        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label>Image de profil <span class="text-danger">largeur : 90px et hauteur : 90px</span></label>
                    {{ avatar_form.avatar |add_class:"btn btn-default" }}
                    {{ avatar_form.avatar.errors }}
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input value="Importer" type="submit" class="btn btn-primary"/>
                </div>   
            </div>
        </div>
    </form>
    {% endcomment %}


 




</section>
 





 
 
{% endblock %}

 
