{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}





{% block page_title %}
    Fin d'adhésion
{% endblock %}

{% block page_menu_right %}

{% endblock %}



{% block body %}
    <section class="content_list"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-white">
                    {{ reason }} 
                    {% if not cause %} 
                    Votre adhésion est terminée depuis le {{ last_adhesion.stop|date:"d N Y"}}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}