{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}
 

{% block page_title %} 
Publication des cahiers de vacances

{% endblock  %}

{% block body %}
    <section class="container"> 


            <div class="row">
                <div class="col-sm-12 col-md-12">
                    Cocher le cahier pour modifier son attribution
                </div>
            </div>




        <form action="" method="POST">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {% csrf_token %}

         
 
     
                    {% for hbook in hbooks %}
                        <div style="margin: 20px;  padding:10px;background-color: {% if hbook.is_publish %}green;color:white{% else %}white{% endif %};border-radius: 4px;border:1px solid violet">
                        {{ hbook.title }}{{ hbook.level.shortname }} <input name="engage_books" type="checkbox" value="{{ hbook.id }}" class="pull-right" />

                        </div>
     
                    {% endfor %}
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-12">   
                  <input value="Enregistrer" type="submit" class="btn btn-primary"   />
                        <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
                </div>
            </div>
        </form>
    </section>
{% endblock %}