{% extends 'tool/form_question_positionnement.html' %} 
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block page_title %}        


            <a href="{% url 'index' %}" ><i class="fa fa-cubes"></i> </a>  

            {% if positionnement %}
                <a href="{% url 'update_positionnement' positionnement.id %}" title="Modifier le test"> {{ positionnement }} </a>
            {% else %}
                Les test de positionnement
            {% endif %}


             <small>({{ positionnement.duration|time_done }})</small><img src="{% static 'img/angle-right.png' %}"/>  Forme de la question

        

{% endblock %}
 
 



{% block type_of_question %}


    {% for qt in qtypes %}

    <div class="col-xs-6 col-sm-4 col-md-3" align='left'>
        <div class="qtypes_choice qtypes_choice_square" style="background-image: url({{ qt.imagefile.url }});background-color: white; background-size: contain;background-repeat: no-repeat;height:100px;width:100%">
            <a href="{% url 'create_question_positionnement'  positionnement.id qt.id  %}">
                <div style="height:98px;width:97px;float:left " />
                </div>
                <div style="padding:10px;float:left;width:150px;">
                    <label>{{ qt.title }}</label> 
                    {% if qt.is_alea %}<span class="helper_tip"> <img src="{% static 'img/shuffle.png' %}" width="15px" style="vertical-align: baseline;" />
                    <div class="helper_tip_text" ><label>Aléatoire.</label> SACADO gère les variables dynamiques aléatoires déclarées à la création de l'exercice.</div>
                        </span>
                    {% endif %}
                    {% if qt.is_pseudo %}<span class="helper_tip"> <img src="{% static 'img/pseudo_shuffle.png' %}" width="15px" style="vertical-align: baseline;" />
                    <div class="helper_tip_text" ><label>Pseudo aléatoire.</label> SACADO crée un exercice en choisissant aléatoirement des situations parmi vos choix enregistrés.</div>
                        </span>{% endif %}<br/>
                        {{ qt.html }}
                    
                </div>
            </a>  
        </div>
    </div>
    {% endfor %}  

{% endblock %} 
