{% load static %}






<li class="sorted_list{% if question %}{% if not question.is_publish %} no_published{% endif %}{% endif %}">
	<input type="hidden" value="{{ question.id }}" class="sorted_question_id"   />
    <div class="row"> 
        <div class="col-xs-1 col-md-1">
            <label>{% if from_ajax %}{{ nbq }}{% else %}{{ forloop.counter }}{% endif %}.</label>

        </div>
        <div class="col-xs-10 col-md-10">
            {{ question.title|truncatechars_html:"20"|safe}} {% if question %}{% if not question.is_publish %} <i class="fa fa-eye-slash"></i> {% endif %}{% endif %}
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-2 col-md-2" class="delete_question_div"> 
            <a href="{% url 'update_question_positionnement' question.id positionnement.id question.qtype %}" class="edit" title="Modifier" ><i class="fa fa-edit"></i></a> <br/><br/>

            <a href="{% url 'clone_question_positionnement' question.id positionnement.id question.qtype %}" class="edit" title="Dupliquer"><i class="fa fa-copy"></i></a> <br/><br/>

            <a href="{% url 'remove_question_positionnement' question.id positionnement.id %}"  class="delete_question" onclick="return TestDelete('cette question')" title="Supprimer"> <i class="fa fa-trash"></i></a>

        </div>
        <div class="col-xs-10 col-md-10"> 
            {% if question.qtype_obj.imagefile %}
                <img src="{{ question.qtype_obj.imagefile.url }}" />
            {% endif   %}  
        </div>
    </div>
</li>


 