{% extends 'tool/form_question_positionnement.html' %} 

{% load static %}
{% load widget_tweaks %}
{% load item_tags %}






{% block title_type_of_question %} 
    {{ title_type_of_question }} 
{% endblock %} 



{% block type_of_choices %} 

    <div class="row" style="margin-top: 20px;" >
        <div class="col-sm-12 col-md-12">
            <div class="form-group"> 
                {{ form.is_correct |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Vrai"|attr:"data-off:Faux"}}
            </div>
        </div>
    </div>

{% endblock %} 