{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

{% endblock %}



{% block page_title %}
    {{ positionnement }} {{ positionnement.level.name }}
   <img width="25px" src="{% static 'img/angle-right.png' %}"/>  
 
{% endblock %}


{% block page_menu_right %}

    {% if request.user.user_type == 2 %}
    <a href="{% url 'list_positionnements' %}" class="btn btn-new">Mes tests</a>
    {% else %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
    {% endif %}

{% endblock %}


{% block body %}
 
<div class="row">  
    <div class="col-sm-12 col-md-12">
        <div class="card" style="padding:20px;width:90%"> 

            {{  positionnement.skills  }}<hr/>{{  positionnement.knowledges }}<hr/>

            {% for s in positionnement.skills %}
                <li class="sanspuce"><label>{{ s.key }} : {{ s.nb }}</label></li>
            {% endfor %}
            <hr/>
            {% for k in positionnement.knowledges %}
                <li class="sanspuce"><label>{{ k.key }} : {{ k.nb }}</label></li>
            {% endfor %}
        </div>
    </div>
</div>



<div class="row">  
    <div class="col-sm-12 col-md-12">
        {% for question in questions %}
        <div class="card" style="padding:20px;width:90%">  
            <div class="row">  
                <div class="col-sm-12 col-md-7">
                    {{ question.title|safe }}
                    {% if question.imagefile %}<img src="{{ question.imagefile.url }}" {% if question.width %}width="{{ question.width }}"{% endif %} {% if question.height %}height="{{ question.height }}"{% endif %} />{% endif %}
                </div>
                <div class="col-sm-12 col-md-5">
                    {% if question.calculator %}<img src="{% static 'img/no_calculator.png' %}" width="25px" /> {% else %}<img src="{% static 'img/no_calculator.png' %}" width="25px"/>{% endif %}
                    {% if question.qtype == 1 %}VF{% elif question.qtype == 2 %}Réponse écrite{% elif question.qtype == 3 %}QCM{% else %}QCS{% endif %}
                    {% if question.qtype == 1 %}{{ question.answer}}{% endif %}<hr/>
                    {% for s in question.skills.all %}
                        {{ s }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="row">  
                <div class="col-sm-12 ">
                    <table class="table borderless">
                        <tr>
                        {% for c in question.choices.all %}
                            <td>{% if c.imageanswer %}
                                    {{ c.imageanswer.url }}
                                {% else %}
                                    {{ c.answer }}
                                {% endif %} 
                                {% if c.is_correct %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
                                {% if c.retroaction %}<hr/>{{ c.retroaction }}{% endif %}
                            </td> 
                        {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">  
                <div class="col-sm-12">
                    {{ question.knowledge }}
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
    


</div> 

{% endblock %} 
 


 