{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

{% endblock %}



{% block page_title %}
    {{ positionnement }} {{ positionnement.level.name }}
   <img width="25px" src="{% static 'img/angle-right.png' %}"/>  
 
{% endblock %}


{% block page_menu_right %}

    {% if request.user.user_type == 2 %}
    <a href="{% url 'list_positionnements' %}" class="btn btn-new">Mes tests</a>
    {% else %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
    {% endif %}

{% endblock %}


{% block body %}
<div class="row">  
    <div class="col-sm-12 col-md-12">
        <div class="card" style="padding:20px;width:90%"> 
            <div class="row">  
                <div class="col-sm-12 col-md-3">
                    <li class="sanspuce"><label>Nombre de questions :  {{ positionnement.questions.count   }}</label></li>
                    <hr/>
                    {% for s in positionnement.skills %}
                        <li class="sanspuce"><label>{{ s.key }} : {{ s.nb }}</label></li>
                    {% endfor %}
                </div>
                <div class="col-sm-12 col-md-9">
                    {% for p in positionnement.knowledges %}
                        <li class="sanspuce"><label><b>{{ p.theme }} : {{ p.nbt }}</b></label></li>
                        {% for k in  p.knowledges %}   
                            <li><label>{{ k.key }} : {{ k.nb }}</label></li>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
 

<div class="row">  
    <div class="col-sm-12 col-md-12">
        {% for question in questions %}
        <div class="card" style="padding:20px;width:90%">  
            <div class="row">  
                <div class="col-sm-1">
                    <h2>{{ forloop.counter }}.</h2><br/> #{{question.id}}
                </div>
                <div class="col-sm-11 col-md-7">
                    {{ question.title|safe }}
                    {% if question.imagefile %}<img src="{{ question.imagefile.url }}" {% if question.width %}width="{{ question.width }}"{% endif %} {% if question.height %}height="{{ question.height }}"{% endif %} />{% endif %}
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="{% url 'update_question_positionnement' question.id positionnement.id question.qtype   %}" class="pull-right"><i class="bi bi-gear"></i></a>


                    {% if question.calculator %}<img src="{% static 'img/no_calculator.png' %}" width="25px" /> {% else %}<img src="{% static 'img/no_calculator.png' %}" width="25px"/>{% endif %}
                    {% if question.qtype == 1 %}
                        Vrai / Faux 
                    {% elif question.qtype == 2 %}
                        Réponse écrite

                    {% elif question.qtype == 3 %}
                        QCS
                    {% elif question.qtype == 4 %}
                        QCM
                    {% elif question.qtype == 5 %}
                        Les paires
                    {% elif question.qtype == 9 %}
                        Texte à trous
                    {% endif %}
                    <hr/>
                    {% for s in question.skills.all %}
                        {{ s }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    
                </div>
                <div class="col-sm-11 ">
                    {% if question.qtype == 1 %}
                        <b>{% if question.is_correct %}<span class="text-success">VRAI</span>{% else %}<span class="text-danger">FAUX</span>{% endif %}</b>
                    {% elif question.qtype == 2 %}
                        <b>Réponse attendue :</b> {{ question.answer}}
                    {% elif question.qtype == 3 or question.qtype == 4 %}
                    <table class="table borderless">
                        <tr>
                        {% for c in question.choices.all %}
                            <td>{% if c.imageanswer %}
                                    <img src="{{ c.imageanswer.url }}" width="100px" />
                                {% else %}
                                    {{ c.answer }}
                                {% endif %} 
                                {% if c.is_correct %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
                                {% if c.retroaction %}<hr/>{{ c.retroaction }}{% endif %}
                            </td> 
                        {% endfor %}
                        </tr>
                    </table>
                    {% elif question.qtype == 5 %}
                        {% for c in question.choices.all %}
                            {% if c.imageanswer and c.imageanswerbis  %}
                                <img src="{{ c.imageanswer.url }}" width="100px" /> <img src="{{ c.imageanswerbis.url }}" width="100px" />
                            {% elif c.imageanswer %}
                                <img src="{{ c.imageanswer.url }}" width="100px" /> {{ c.answerbis }}
                            {% elif c.imageanswerbis %}
                                {{ c.answer }} <img src="{{ c.imageanswerbis.url }}" width="100px" /> 
                            {% else %}
                                {{ c.answer }}
                            {% endif %} 
                            {% if c.retroaction %}<hr/>{{ c.retroaction }}{% endif %}
                        {% endfor %}
                    {% else %}
                        {% for c in question.choices.all %}
                            {% if c.imageanswer %}
                                <img src="{{ c.imageanswer.url }}" width="100px" />
                            {% else %}
                                {{ c.answer }}
                            {% endif %} 
                            {% if c.retroaction %}<hr/>{{ c.retroaction }}{% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">  
                <div class="col-sm-12">
                    {{ question.knowledge }}
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
    


</div> 

{% endblock %} 
 


 