{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>

    <script>
        require(['script/ajax-academy_sorter']);
    </script> 
{% endblock %} 
 

{% block page_title %}
    Liste des {% if isp %}parcours {% else %}séquences {% endif %}  > {{ level.name }} > <small>{{ parcourses.count }} {% if isp %}parcours {% else %}séquences  {% endif %}</small>
{% endblock %}



{% block page_menu_right %}
 
{% endblock %}



{% block css_files %}
{% endblock %}



{% block body  %}

{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 


    
  
    <div class="row "> 
        <div class="col-sm-12 col-md-12">
                <form action="" method="POST" >             
                {% csrf_token %}
                {% for data in dataset  %}
                    <label class="sacado_color_text">
                        <h3>
                            <input type="checkbox" name="parcours"  value="{{ data.parcours.id }}" />
                            #{{ data.parcours.id }}. {{ data.parcours.title }} - <small>Auteur : {{ data.parcours.author }} - Enseignant : {{ data.parcours.teacher}}</small>
                            {% if data.parcours.is_publish %}<span style="background-color: #1bc074; padding:5px" class='pull-right'> Publié </span> {% else %}<span  class='pull-right' style="background-color: #cb2131; padding:5px"> Dépublié </span>   {% endif %}
                        </h3>
                    </label> 
                    <div class="row" style="clear:both"> 
                        <div class="col-sm-12 col-md-12 sequence_sorter_academy" id="sequence_sorter_academy{{ data.parcours.id }}" data-parcours_id="{{ data.parcours.id }}">
                            {% for r  in  data.relationships %}
                                {% if r.type_id == 0  %}
                                    {% if r.exercise.supportfile.imagefile %}
                                        <div style="float:left;width:150px; height:110px;cursor:move"> 
                                            <input value="{{ r.id }}" type="hidden" class="relationship_id_sequence" />
                                            <img src="{{ r.exercise.supportfile.imagefile.url }}" width="150px" height="110px" title="{{ r.exercise.supportfile.knowledge }}" />
                                        </div>
                                    {% else %}
                                        <div style="cursor:move;clear:both"> 
                                            <input value="{{ r.id }}" type="hidden" class="relationship_id_sequence" />
                                            <h6>{{ r.exercise.supportfile.title }}</h6>
                                        </div>
                                    {% endif %}
                                {% else  %}
                                    <div style="float:left; width:150px; height:110px;border-radius:0px 20px 0px 0px; background-color:#f1eef7;border:solid 1px#5d4391; margin-right:1px;padding-top:10px;font-size:12px">
                                        <p style="font-size:12px"> {% if r.type_id == 1 %} EXO PERSO
                                            {% elif r.type_id == 2 %} {{ r.type_of_document.forme }} 
                                            {% elif r.type_id == 3 %} QUIZZ
                                            {% elif r.type_id == 4 %} FLASHPACK
                                            {% else %} BIBLIOTEX{% endif  %}
                                        </p>
                                        <input value="{{ r.id }}" type="hidden" class="relationship_id_sequence" />
                                        <p style="background-color:#fff;font-size:12px">{{ r.type_of_document.title }}</p><small>#{{ r.type_of_document.id }}</small>  
                                          {% if r.type_id == 1 %}
                                          <a href="{%  url 'show_custom_sequence'  r.type_of_document.id %}" target="_blank" style="font-size:16px"><i class="fa fa-share-square fa-fw"></i></a>
                                          <a href="{%  url 'parcours_update_custom_exercise'  r.type_of_document.id  r.parcours.id %}" target="_blank" style="font-size:16px"><i class="fa fa-cogs fa-fw"></i></a>  
                                            {% elif r.type_id == 2 %}
                                            <a href="{%  url 'show_one_course'  r.document_id   %}" target="_blank" style="font-size:16px"><i class="fa fa-share-square fa-fw"></i></a>
                                          <a href="{% if folder %}{%  url 'only_update_course_from_sequence'  r.document_id folder.id r.parcours.id  %}{% else %}{%  url 'only_update_course_from_sequence'  r.document_id 0 r.parcours.id  %}{% endif %}" target="_blank" style="font-size:16px"><i class="fa fa-cogs fa-fw"></i>
                                          </a>  
                                            {% elif r.type_id == 3 %}
                                          <a href="{%  url 'show_quizz_shared'  r.document_id   %}"target="_blank" style="font-size:16px"><i class="fa fa-share-square fa-fw"></i></a>
                                          <a href="{%  url 'update_quizz'  r.document_id   %}" target="_blank" style="font-size:16px"><i class="fa fa-cogs fa-fw"></i></a> 

                                            {% elif r.type_id == 4 %}
                                              <a href="{%  url 'show_flashpack'  r.document_id    %}" target="_blank" style="font-size:16px"><i class="fa fa-share-square fa-fw"></i>
                                              </a>
                                              <a href="{%  url 'update_flashpack'  r.document_id    %}"target="_blank" style="font-size:16px"><i class="fa fa-cogs fa-fw"></i>
                                              </a> 
                                            {% else %}
                                                <a href="{%  url 'show_bibliotex'  r.document_id  %}" target="_blank" style="font-size:16px"><i class="fa fa-share-square fa-fw"></i></a>
                                                <a href="{%  url 'update_bibliotex'  r.document_id  %}" target="_blank" style="font-size:16px"><i class="fa fa-cogs fa-fw"></i></a> 
                                            {% endif %}
                                    </div>
                                {% endif  %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="clear:both"><hr/></div>
                {% endfor %}
                    <div class="row">  
                        <div class="col-xs-12"> 
                            <div class="form-group">
                                <input value="Supprimer" type="submit"  class="btn btn-danger" onclick="return TestDelete('ces choix' )"  /> <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
                            </div>  
                        </div> 
                    </div>
                </form>
        </div>
    </div>
  
    
     
</section>




 

{% endblock  %}   
