{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
 


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script> 
    <script>
        require(['script/ajax-dashboard']);
        require(['script/ajax-group']);
        require(['script/ajax-parcours-student']);
        require(['script/ajax-dashboard_student']);
    </script>
{% endblock %}



{% block page_title %}

{% if student.nb_subjects > 2 %}
    <span style="color:#5d4391"><i class='bi bi-markdown'></i> <a href="{% url 'index' %}" style="color:#5d4391"> Matières </a></span>  
{% else %}
    <span style="color:#5d4391"><i class="bi bi-grid-3x2-gap icon_size"></i><a href="{% url 'index' %}" style="color:#5d4391"> Tableau de bord </a></span> 
{% endif %}

<img src="{% static 'img/angle-right.png' %}"/> {% include 'breadcrumb_student.html' %}

{% endblock %}



   



{% block body %}
 
<section class="content_main"> 


    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="alert alert-info">10 minutes par jour</div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            {%  if folders %}
            <div class="row"></div> 
                {% for folder in folders %}
                    {% include 'qcm/folder_tag_student.html' %}
                {% endfor  %} 
            {% endif %}  
        </div>
    </div>
</section> 








{% endblock %}

 