{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
 


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script> 
    <script>
        require(['script/ajax-dashboard']);
        require(['script/ajax-group']);
        require(['script/ajax-parcours-student']);
        require(['script/ajax-dashboard_student']);
    </script>
{% endblock %}



{% block page_title %}

{% if student.nb_subjects > 2 %}
    <span style="color:#5d4391"><i class='bi bi-markdown'></i> <a href="{% url 'index' %}" style="color:#5d4391"> Matières </a></span>  
{% else %}
    <span style="color:#5d4391"><i class="bi bi-graph-up-arrow icon_size"></i><a href="{% url 'index' %}" style="color:#5d4391"> Entrainement </a></span> 
{% endif %}

<img src="{% static 'img/angle-right.png' %}"/> {% include 'breadcrumb_student.html' %}

{% endblock %}



   



{% block body %}
 
<section class="content_main"> 

    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="alert-white"  style="padding:5px">
                Compte rendu de {{ this_month }}.  <span style="font-size: 10px">Au moins 10 minutes quotidiennes de pratique sur nos exercices pour réussir en mathématiques.</small>
                <div style="margin:5px 0px">
                {% for m in this_months %}
                    <div style="float:left;height:20px;width:30px;margin-right:1px;text-align:center">
                        <span style="text-align: center;padding:2px;font-size:10px">{{m.date|date:"j"}}</span><br/>                        
                        <div style="background-color: {{ m.color}};float:left;height:20px;width:30px;color:white;font-size:10px;padding-top:5px;">  {{m.duration}} </div>
                    </div>  
                {% endfor %}
                    <div style="background-color:#5D4391; float:left;height:20px;width:30px;margin-right:1px;text-align:center">
                        <span style="color:white;text-align: center;font-size:12px"><i class="bi bi-clock"></i></span><br/>                        
                        <div style="background-color:#5D4391;color:white;font-size:12px;padding-top:5px;height:20px;width:30px;"> {{ duration_sum}}   </div>
                    </div> 
                </div>
                <div style="clear:both;height:10px"></div>                
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col-md-12 col-lg-12 col-xs-12">
            {%  if folders %}
            <div class="row"></div> 
                {% for folder in folders %}
                    {% include 'qcm/folder_tag_student.html' %}
                {% endfor  %} 
            {% endif %}  
        </div>
    </div>

</section> 








{% endblock %}

 