{% load static %}
{% load widget_tweaks %}   

      <div class="modal-content">
          <div class="modal-header">
              <div class="row">                      
                  <div class="col-sm-11 col-md-11">
                     <div class="form-group">
                        <font style="font-size:16px">Nouvelle leçon / disponibilité<a href="#" class="vue" data-dismiss="modal"><i class="fa fa-times pull-right"></i></a></font>
                      </div>
                  </div> 
              </div>
          </div>
          <div class="modal-body">                  
               <div class="row">              
                  <div class="col-sm-8 col-md-8">                        
                      <input type="checkbox" id="choose_data" name="choose_data" data-toggle="toggle" data-onstyle="success" data-offstyle="default" data-on="Leçon" data-off="Disponibilité" data-width="150" />
                  </div>                  
              </div>
              <hr/>
              <div id ="lesson" class="no_visu_on_load">
                  <form  action="{% url 'create_event' %}" method="POST"><input name="is_lesson" value="1" type="hidden" />
                      {% csrf_token %}  
                      <div class="row">              
                          <div class="col-sm-12 col-md-12">                        
                              <div class="form-group">
                                  <label>Elèves</label>
                                  {{ form.users |add_class:"form-control select2"   }}
                              </div> 
                          </div>
                      </div> 
                      <div class="row">                      
                          <div class="col-sm-12 col-md-12">
                             <div class="form-group">
                                {{ form.title |add_class:"form-control"|attr:"placeholder:Ajouter un titre"  }}
                            </div>
                          </div>
                      </div>
                      <div class="row">              
                          <div class="col-sm-8 col-md-8" style="display:none">                        
                              <div class="form-group">
                                <label>date</label> {{ form.date |add_class:"form-control" }}    <input value="{{ request.user.id }}" name="user" id="id_user"  >
                              </div> 
                          </div>                  
                      </div>
                      <div class="row">
                          <div class="col-sm-6 col-md-6">
                              <div class="form-group">
                                      <div class="form-group">
                                        <label>Couleur</label> <span id="selected_color"><i class="fa fa-square" style="color:#00819F"></i></span> <br>{{ form.color.as_hidden  }}  
         
                                        <a href="#"><i class="fa fa-square text-primary fa-2x selector_color" data-color="primary" data-code="0152a3"></i></a>
                                        <a href="#"><i class="fa fa-square text-success fa-2x selector_color" data-color="success" data-code="3c763d"></i></a>
                                        <a href="#"><i class="fa fa-square text-danger fa-2x selector_color" data-color="danger" data-code="a94442"></i></a> 
                                        <a href="#"><i class="fa fa-square text-warning fa-2x selector_color" data-color="warning" data-code="ffcc00"></i></a>
                                        <a href="#"><i class="fa fa-square text-orange fa-2x selector_color" data-color="orange" data-code="ef6d02"></i></a> 
                                        <a href="#"><i class="fa fa-square text-purple fa-2x selector_color" data-color="purple" data-code="605ca8"></i></a>
                                        <a href="#"><i class="fa fa-square text-pink fa-2x selector_color" data-color="pink" data-code="f442f1"></i></a>
                                        <a href="#"><i class="fa fa-square text-water fa-2x selector_color" data-color="water" data-code="23afa5"></i></a>
                                      </div>
                              </div>
                          </div>
                          <div class="col-sm-3 col-md-3">
                              <div class="form-group"><label>Début</label> 
                                  {{ form.start|add_class:"form-control start_hour" }} 
                              </div>
                          </div>
                          <div class="col-sm-3 col-md-3">
                              <div class="form-group"><label>Durée <small>(en minutes)</small></label>
                                  {{ form.duration|add_class:"form-control"|attr:"type:number"|attr:"step:15"|attr:"min:0" }}    
                              </div>
                          </div>
                      </div>
                      <div class="row">                    
                          <div class="col-sm-12 col-md-12">
                               <div class="form-group">
                                  <div class="form-group"><label>Commentaire</label>
                                      {{ form.comment |add_class:"form-control"|attr:"rows:3"  }}
                                  </div>
                              </div>
                          </div>
                      </div> 
                      <div class="row"> 
                          <div class="col-sm-4 col-md-4">
                              <div class="form-group"><br>
                                <input value="Enregistrer la leçon" type="submit" class="btn btn-primary" style="width:100%"/> 
                              </div>
                          </div> 
                      </div>
                  </form>
              </div>

              <div id ="slot" >
                  <form  action="{% url 'create_event' %}" method="POST"><input name="is_lesson" value="0" type="hidden" />
                      {% csrf_token %}  

                      <div class="row" style="display:none">              
                          <div class="col-sm-8 col-md-8" >                        
                              <div class="form-group">
                                <label>Date</label> <input id="id_datetime" name="datetime" type="datetime" class="form-control" /> 
                              </div> 
                          </div>                  
                      </div>
                      <div class="row">
                          <div class="col-sm-3 col-md-3">
                              <div class="form-group">De 
                                    <input id="id_start_hour" name="start_hour" type="text" class="start_hour form-control" maxlength="5" /> 
                              </div>
                          </div>
                          <div class="col-sm-3 col-md-3">
                              <div class="form-group"><label>Durée <small>(en minutes)</small></label>
                                  <input name="duration" class="form-control" type="number" step="15" min="15" required />   
                              </div>
                          </div>
                      </div>
                      <div class="row"> 
                          <div class="col-sm-4 col-md-4">
                              <div class="form-group"><br>
                                <input value="Enregistrer la disponibilité" type="submit" class="btn btn-primary" style="width:100%"/> 
                              </div>
                          </div> 
                      </div>
                  </form>    
              </div>



          </div>
      </div>