 {% load item_tags %}
 {% load static %}

<section>  

 

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        {%  for student in students %}

            <div  class="box box-widget widget-user-2 widget-user-parent" 
                    {% if student.user.backtitle %} 
                        style="background-image: url({{ student.user.backtitle }});"  
                    {% else %} 
                        style="background-color: #af9cd4 ; background-image: url('https://sacado-academie.fr/ressources/background/default.jpg');" 
                    {% endif %} > 
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="handler widget-user-header">

                </div>

                {% if student.user.avatar %} 
                    <img src="{{ student.user.avatar }}"  class="avatar" />
                {% else %}
                    <img src="{% static 'img/avatar/1.jpg' %}" width="80px" height="80px" class="avatar" />
                {% endif %}

                <div class="box-footer">
                    <div class="row"> 
                        <div class="col-lg-6 col-xs-6" style="font-size:11px;color: #777">
                            <a href="{% url 'change_adhesion' student.user.id %}">Menu {{ student.data_menu.name }}</a>
                        </div>
                        <div class="col-lg-6 col-xs-6" style="font-size:11px;color: #777" align="right">
                            <a href="{% url 'change_avatar' student.user.id %}"><i class="bi bi-gear"></i></a>
                        </div>
                    </div>
                    <div class="row extend_name" align="center"> 
                        <div class="col-lg-12 col-xs-12">
                            <span style="font-size: 26px">{{ student.user.first_name|lower|capfirst  }} {{ student.user.last_name|lower|capfirst  }}</span> 
                        </div>
                    </div>

                    <div class="row" align="center"> 
                        <div class="col-lg-12 col-xs-12">
                            <p class="thin" style="color: #777">{{ student.user.username }} </p> 
                        </div>
                    </div>
                    <div class="row extend_extra" align="center"> 
                        <div class="col-lg-12 col-xs-12">
                            <a  href="{% url 'detail_student_all_views' student.user.id  %}"  class="btn btn-sacado" >Voir les statistiques et bilan</a>   
                        </div>
                    </div>

                    <div class="row" align="center">                              
                        <div class="col-lg-4 col-xs-4">
                            {% if student.data_menu.id > 2 %}
                                <a  href="{% url 'my_child_tasks' student.user.id %}"> 
                                    <span style="font-size:26px">{{ student.nb_task }}</span><br/> <span style="font-size:12px">Tâches</span>
                                </a>                                     
                            {% else %} 
                                <span  class="no_button" title="Votre formule ne vous permet pas d'accéder à cette fonctionnalité" style="color:#999" >
                                    <span style="font-size:26px">{{ student.nb_task }}</span><br/> <span style="font-size:12px">Tâches</span>
                                </span>

                            {% endif %} 

                        </div>   
                        <div class="col-lg-4 col-xs-4">
                            {% if student.data_menu.id > 2 %}
                                <a  href="{% url 'list_discussion_lesson_parent' student.user.id  %}">
                                    <span style="font-size:26px">{{ student.user.user_message.count }}</span><br/> <span style="font-size:12px">Messages</span>
                                </a>
                            {% else %} 
                                <span title="Votre formule ne vous permet pas d'accéder à cette fonctionnalité" style="color:#999" >
                                    <span style="font-size:26px">{{ student.user.user_message.count }}</span><br/> <span style="font-size:12px">Messages</span>
                                </span>
                            {% endif %}   
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            {% if student.data_menu.id == 4 %}
                                <a  href="{% url 'detail_student_lesson' student.user.id  %}">  
                                    <span style="font-size:26px">{{ student.user.these_events.count }}</span> <br/> <span style="font-size:12px">Leçons</span>
                                </a>   
                            {% else %} 
                                <span  title="Votre formule ne vous permet pas d'accéder à cette fonctionnalité" style="color:#999"  > 
                                    <span style="font-size:26px">{{ student.user.these_events.count }}</span> <br/> <span style="font-size:12px">Leçons</span>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
  

<div class="row" >
    <div class="col-sm-12 col-md-12">

    <ul class="nav nav-tabs">
        {%  for student in students %} 
            <li {% if forloop.first %} class="active" {% endif %}>
                <a data-toggle="tab" href="#div{{ forloop.counter }}">
                    {% if student.user.avatar %} 
                        <img src="{{ student.user.avatar }}" width="40px" height="40px"  class="avatar" />
                    {% else %}
                        <img src="{% static 'img/avatar/1.jpg' %}" width="40px" height="40px" class="avatar" />
                    {% endif %}
                    {{ student|lower|capfirst }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {%  for student in students %} 
            <div id="div{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}in active{% endif %}">
                <div class="row" >
                    <div class="col-sm-12 col-md-6">
                        <table class="table" style="background-color:#FFF;">
                            {% regroup student.these_last_exercises_done by exercise as responses_list %}
                            <thead>
                                <tr style="background-color:#f4f6f9"> 
                                <td><span  style="font-weight:100;font-size:20px ">10 derniers exercices </span> </td>
                                <td></td>
                                <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in responses_list %}
                                <tr>
                                    <td> 
                                        <a href="{% url 'show_this_exercise'  r.grouper.id   %}" >  
                                            <img src="{{ r.grouper.supportfile.imagefile.url }}" class="imagefile">
                                        </a>
                                    </td>
                                    <td>{{ r.grouper.theme.name }}</td>
                                    <td >
                                        {% for s in r.list  %}
                                            <div  class="markdown pull-right
                                                {% if s.point < 30 %}
                                                 red 
                                                {% elif s.point < 60 %}
                                                orange
                                                {% elif s.point < 80 %}
                                                green
                                                {% else %}
                                                darkgreen
                                                {% endif %}">
                                                <small>{{ s.point }}%</small>
                                            </div> 
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




 
</div>





 
</section> 


 