{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}







{% block body %}


{% if messages %}
<ul class="messages" id="container_messages">
    {% for message in messages %}
    <div class="container alert alert-info" role="alert" style="top:50px">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if cookie_rgpd_accepted %}
<div id="display_rgpd" >
    <form  method="POST" enctype='multipart/form-data'> {% csrf_token  %}
        Sacado veille à protéger vos données personnelles. Ce site utilise des cookies pour améliorer votre expérience. Sacado ne recueille aucune donnée autre que les données nécessaires. <br/>Les cookies déposés via le service de partage de vidéo Youtube ont pour finalité de permettre à l’utilisateur de visionner directement sur le site le contenu multimédia.<br/>
        Via ces cookies, ce tiers collectera et utilisera également vos données de navigation pour son propre compte afin de cibler de la publicité et contenus en fonction de votre historique de navigation.<br/>
        Pour plus d’information, nous vous encourageons à consulter sa politique de confidentialité.
        <hr>
        <a href="#" id="accept_rgpd" class="btn btn-default"> Oui, j'accepte les cookies.</a>
        <a href="#" id="no_accept_rgpd" class="btn btn-default"> Non, je refuse les cookies.</a>
    </form>
</div>
{% endif %}

{% if form.errors %}
<div class="container alert alert-danger" role="alert" style="top:100px">
    <i class="fa fa-warning"></i> Votre connexion a échoué. Vérifier votre identifiant et/ou votre mot de passe.
</div>
{% endif %}
<!--==========================
Intro Section -
============================-->
<section class="bandeau_accueil">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 no_display_index" >
            <div class="bandeau_accueil_title">
                Les rituels <br/>pour réussir  en Mathématiques
            </div>
            <div class="bandeau_accueil_subtitle">
            10 minutes chaque jour avec la   <a href="#" data-toggle='modal' data-target='#div_methode_sacado' class="rose_light" ><b>méthode SACADO</b><sup><small><i class='fa fa-copyright'></i></small></sup> </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6" >
            <img src="{% static 'img/accueil_0.png'  %}" class="img_if_small" />
            <div align="center" class="bigger_size" style="color:white">
                Je souhaite passer un <a href="{% url 'advises_index' %}" class="white">test de positionnement</a> GRATUITEMENT.
                <div class="img_if_small_bandeau_accueil_subtitle"  style="margin:20px 0px">
                10 minutes chaque jour avec la   <a href="#" data-toggle='modal' data-target='#div_methode_sacado' class="rose_light" ><b>méthode SACADO<sup><small><i class='fa fa-copyright'></i></small></sup></b> </a>
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12" align="center" >
            <a href="#" data-toggle='modal' data-target='#div_levels' class="white bigger_size"><img src="{% static 'img/target.png' %}"></i>
                <br/>Essayer nos exercices
            </a>
        </div>
    </div>


    <div class="modal fade" id="div_methode_sacado" tabindex="-1" role="dialog" aria-labelledby="div_methode_sacado">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h2 class="font_sacado">La méthode SACADO<sup>©</sup>

                    </h2>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <span class="rose">Constat</span> : si une information n’est pas répétée dans le temps, elle est oubliée par les enfants, selon une loi qu’on appelle la courbe de l’oubli. Pour lutter contre cette courbe, il est important de travailler l’ancrage en mémoire, pédagogie permettant la mémorisation durable, au fil du temps, d’informations apprises.

                    C’est la méthode Sacado©<br/>

                    <img src="{% static 'img/ebbinghaus.jpg' %}"  class="little_img_if_small"  /><br/>

                     

                    Comment faire ? La méthode Sacado © permet de travailler efficacement grâce à nos quatre concepts issus des sciences cognitives :

                    <li class="sanspuce">1. <span class="rose">Le e-learning </span>: espacer les apprentissages dans la durée permet au cerveau de ne pas saturer. 
                        <em><span class="rose">Préconisation Sacado©</span> : 10 min d’entraînement quotidien sur notre plateforme est un bon moyen d’améliorer le taux de rétention et ancrer les points importants.</em>
                    </li>
                    
                    <li class="sanspuce">2. <span class="rose">Le reminder ou « rappel » </span>: permet de reconnecter le cerveau aux informations apprises. Il est essentiel dans l’ancrage en mémoire à long terme, c’est le principe même de la répétition. <em><span class="rose">Préconisation Sacado©</span> : 10 min d’entraînement quotidien et/ou l’étalement des révisions grâce à notre programmateur d’évaluations jusqu’au jour J.</em></li>
                    
                    <li class="sanspuce">3. <span class="rose">Le learning-by-doing </span>: on apprend mieux quand on fait par soi-même. <em><span class="rose">Préconisation Sacado©</span> : l’entraînement quotidien va sécuriser votre enfant, qui va apprendre de ses erreurs grâce à nos corrections immédiates des exercices.</em></li>
                    
                    <li class="sanspuce">4. <span class="rose">L’émotionnel </span>: L’émotion stimule la mémorisation. Le cerveau retient les informations plus intensément si l’enfant y trouve du plaisir.  
                        <em><span class="rose">Préconisation Sacado©</span> :  l’accompagnement sur notre plateforme en ligne pour préparer les évaluations et les examens sans stress sera source de motivation.  Ce climat de travail bienveillant, sécurisant et valorisant permet d’ajouter cet aspect émotionnel aux expériences d’apprentissage.</em>
                    </li>


                    <li class="sanspuce"><span class="rose"><b>Le petit + Sacado© </b></span> nous offrons la possibilité à votre enfant de créer ses propres cartes de révision (flashcards) qui mêlent les 4 piliers : la révision en ligne, le rappel (grâce à notre programmateur), l’engagement actif et l’envie de réussir !</li>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="div_levels" tabindex="-1" role="dialog" aria-labelledby="div_levels">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" >
                <div class="modal-header">

                    <h2 class="font_sacado" style="margin-bottom:0px;">Choisir votre niveau</h2>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>


                </div>
                <div class="modal-body modal_level">
                    <div class="row" align="center">
                    {% for data in dataset %}
                        <div class="col-xs-4 col-md-4 modal_title_level">
                            <a href="{% url 'exercises_shower' data.level.id %}">{% if  data.exercise.supportfile.imagefile %} <img src="{{ data.exercise.supportfile.imagefile.url }}"  width="150px" /> {% endif %}
                            <br/>{{ data.level.name }}
                            </a>
                        </div>
                    {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<div class="background_accueil">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index" style="font-variant: small-caps;">L'entraînement</h1>
                <p class="p_index"><b class="rose">10 minutes</b> chaque jour, pour fixer les notions, maîtriser les méthodes de base et construire des savoirs solides.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="{% static 'img/training_1.jpg' %}"  class="img_training_if_small"  />
                <p class="p_index">Une <b class="rose">interface d'entraînement</b> complète avec tous les thèmes, les chapitres et les scores directement affichés. <br/>Le temps passé par journée est affiché pour contrôler effectivement la durée d'apprentissage. <br/><small>(Niveau affiché CM2)</small></p>
            </div>
        </div>
        <div class="row" class="for_small">
            <div class="col-xs-12 col-md-7">
                <p class="p_index">Des chapitres complets  avec des parties de <b class="rose">cours interactifs</b> et des <b class="rose">exercices d'application directe</b> qui reprennent les objectifs des programmes de l'Education Nationale.<small>(Niveau affiché Troisième)</small></p><div class="v_space_2br"></div>
                <img src="{% static 'img/training_2.jpg' %}" class="_img_training_if_small"  />
            </div>
            <div class="col-xs-12 col-md-5">
                <p class="p_index">Des exercices entièrement <b class="rose">corrigés</b> et <b class="rose">interactifs</b> qui reprennent les énoncés d'examen et Les attendus des programmes. <small>(Niveau affiché Première)</small></p><div class="v_space_2br"></div>
                <img src="{% static 'img/training_3.jpg' %}" class="_img_training_if_small" />
            </div>
        </div>
    </div>
</div>



<div class="background_accueil">
    <div class="container" id="tools">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index" style="font-variant: small-caps;">Nos outils</h1>

                <p class="p_index"> SACADO ACADÉMIE propose des outils interactifs pour découvrir les <b class="rose">notions essentielles</b> des programmes de la Maternelle à la Sixième.</p>
                <p class="p_index"><img src="{% static 'img/tools.jpg' %}" width="100%" />  </p>
            </div>
        </div>

    </div>
</div>


<div class="background_accueil">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index" style="font-variant: small-caps;">Les Prép'éval</h1>
                <p class="p_index">Choisis la date de ton évaluation, les thèmes à réviser et <span class="sacado">SACADO</span> confectionne ton <b class="rose">programme de révision</b> jour par jour, avec suivi de progression, jusqu'au jour J.</p>
                <p class="p_index"> <b>En trois clics....</b> </p>
                <img src="{% static 'img/prep_1.png' %}" width="330px" />
                <img src="{% static 'img/prep_2.png' %}" width="330px" />
                <img src="{% static 'img/prep_3.png' %}" width="330px" />

                <p class="p_index"><b>Génération du programme de révision</b> </p>
                <img src="{% static 'img/prep_4.png' %}" width="100%"   />
            </div>
        </div>
    </div>
</div>

<div class="background_accueil">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index">NOTRE MÉTHODE</h1>
                <p class="p_index">  Votre enfant progresse à son rythme avec des exercices interactifs, corrigés immédiatement, qu’il peut recommencer sans limitation. Les variables des exercices sont aléatoires pour <b class="rose">ancrer les procédures en mémoire</b>.</p>
                <p class="p_index"><img src="{% static 'img/image_a.png' %}" style="float:right" />  Chaque jour, <b class="rose">10 minutes</b> d'entrainement sur nos exercices structurés en parcours permettent de reprendre les procédures et techniques et de les fixer dans la mémoire. Ces rituels facilitent la maîtrise des <b class="rose">automatismes</b> à la base de l'apprentissage des mathématiques.</p>

                <p class="p_index"> De la maternelle à la terminale, SACADO Académie propose des parcours<b class="rose"> 100% mathématiques</b> conformes aux réformes et aux programmes scolaires en vigueur de l’Éducation Nationale.</p>
            </div>
        </div>
    </div>
</div>

<div class="fond_bis" style="margin-top:80px">
    <section class="container" id="menus">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index_white">NOS MENUS </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4"  align="center">
                <div class="card border_card" >             
                    <div class="card-header">              
                        <div class="row">
                            <div class="col-sm-12 col-md-12 font_white" align="center">
                                <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"  style="float:left">                                
                             Menu<div class="sub_header">Autonomie</div> 
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="background-image: url('static/img/fond_autonomie.png')">
                        <div class="this_price"> <span class="currency">5 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                        <div class="card-block plus">
                            <p class="card-text">  <a href="#" data-toggle='modal' data-target='#Autonomie'  class="detail_index"> Contenu de l'offre <i class="bi bi-question-circle"></i></a>  </p>
                        </div>
                        <div class="card-block plus">
                            <a href="{% url 'choice_menu' 1 %}" class="btn btn-asso">Choisir ce menu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4"  align="center">
                <div class="card border_card" >             
                    <div class="card-header">              
                        <div class="row">
                            <div class="col-sm-12 col-md-12 font_white" align="center">
                                <img src="{% static 'img/menu_suivi.png' %}"  width="60px" style="float:left">
                                Menu<div class="sub_header">Suivi</div> 
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="this_price">dès <span class="currency">29 €</span>/mois<br/><small style="font-size:12px">Sans engagement</small></div>
                        <div class="card-block plus">
                            <p class="card-text">  
                                <a href="#" data-toggle='modal' data-target='#Suivi'  class="detail_index"> Contenu de l'offre <i class="bi bi-question-circle"></i></a>  
                        </div>                    
                        <div class="card-block plus">
                            <a href="{% url 'choice_menu' 2 %}" class="btn btn-asso">Choisir ce menu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4"  align="center">
                <div class="card border_card" >             
                    <div class="card-header">              
                        <div class="row">
                            <div class="col-sm-12 col-md-12 font_white" align="center">
                             <img src="{% static 'img/menu_exam.png' %}"  width="60px" style="float:left">   
                             Menu<div class="sub_header">Prép'Examen</div> 
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="this_price"> dès <span class="currency">290 €<br/><small style="font-size:14px">(package de 10 visio-conférences)</small></div>
                        <div class="card-block plus">
                            <p class="card-text">  
                                <a href="#" data-toggle='modal' data-target='#exam'  class="detail_index">  Contenu de l'offre <i class="bi bi-question-circle"></i></a>  
                            </p>
                        </div>
                        <div class="card-block plus">
                            <a href="{% url 'choice_menu' 3 %}" class="btn btn-asso">Choisir ce menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="background_accueil">
    <div class="container" id="interfaces">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="title_bloc_index">NOTRE INTERFACE</h1>
            </div>
        </div>

        <div class="row" style="margin-bottom:60px">
            <div class="col-xs-6 col-md-4"  align="center">
                    <div class="sub_icon_link_index">
                        <img src="{% static 'img/icone_exos.jpg' %}"/> <br/> 
                        <a href="{% url 'acad_exercises' %}" class="icon_link_index p_index" >Cours et exercices</a> <br/>  
                             
                        <small >Interactifs, autocorrigés et détaillés<br/> Préparation aux évaluations</small> 
                    </div>

            </div>
            <div class="col-xs-6 col-md-4"  align="center">
                <div class="sub_icon_link_index">
                    <img src="{% static 'img/icone_interface.jpg' %}"/> <br/> 
                    <a href="{% url 'parents' %}" class="icon_link_index p_index" >  Espace parent </a>    <br/>                     
                    <small   >Interface complète<br/>  et détaillée </small>   
                </div>
            </div>
            <div class="col-xs-6 col-md-4"  align="center">
                <div class="sub_icon_link_index">
                    <img src="{% static 'img/icone_memory.jpg' %}"/> <br/> 
                     <a href="{% url 'numeric' %}" class="icon_link_index p_index"> Apprentissage actif</a> <br/>                        
                    <small >Rétroaction, mémorisation, automatisme </small>  
                </div>
            
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="Autonomie" tabindex="-1" role="dialog" aria-labelledby="Autonomie">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <span style="font-size:30px;">  Menu <span class="sub_header">Autonomie</span> </span>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" style="font-size:14px;" >
   
                <b class="rose">Interface Enfant </b>  
                    <li>Séquences de cours interactifs (collège et lycée) et d’exercices.</li>
                    <li>Outils interactifs de découverte (Primaire et Sixième).</li>
                    <li>Niveaux structurés par thèmes et par compétences.</li>
                    <li>Interface de création de flashcards</li>
                    <li>Préparation aux évaluations en fonction des chapitres travaillés en classe.</li>
                    <li>Suivi détaillé de sa progression jour par jour</li>
               <br/>
                <b class="rose">Interface Parent</b>

                <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord.</li>
                <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir).</li>
                <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués).</li>
                <li>Génération d’un bilan (format pdf).</li>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="autonomie" tabindex="-1" role="dialog" aria-labelledby="autonomie">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">

                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div style="font-size:30px;">  Menu <span class="sub_header ">Personnalisé</span> </div>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" id="indiv_this_exercise">
                <div class="alert alert-sacado"  align="center">
                    <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>  Menu <span class="">Autonomie</span> 
                    <a href="#" id="detail_display_autonomie"  class="detail_index" style="font-size:12px;"><i class="bi bi-cursor"></i>  Détails de l'offre <i class="bi bi-question-circle"></i></a><br/>
                </div>
                <div id="show_detail_display_autonomie"  style="font-size:12px;">
   
                <b class="rose">Interface Enfant </b>

                    <li>Séquences de cours interactifs (collège et lycée) et d’exercices.</li>
                    <li>Outils interactifs de découverte (Primaire et Sixième).</li>
                    <li>Niveaux structurés par thèmes et par compétences.</li>
                    <li>Interface de création de flashcards</li>
                    <li>Préparation aux évaluations en fonction des chapitres travaillés en classe.</li>
                    <li>Suivi détaillé de sa progression jour par jour</li>

                   <br/>
                    <b class="rose">Interface Parent</b>

                    <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord</li>
                    <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir)</li>
                    <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués)</li>
                    <li>Génération d’un bilan (format pdf)</li>

                </div>
                <h2  align="center"><i class="bi bi-plus"></i></h2>
                    Votre enfant échange par <b  class="rose">tchat</b> (en direct) ou <b  class="rose">message</b> (réponse sous 24h) avec un <b  class="rose">enseignant</b> pour surmonter les difficultés rencontrées. <br/><em><small>Tchat du lundi au vendredi 16h à 00h.</small> </em> 

                <p style="margin-top:20px"><b>En option.</b><br/>

                Votre enfant peut demander un accompagnement par un <b  class="rose">enseignant</b> par <b class="rose">visioconférence</b> selon les créneaux choisis. <br/><em><small>Choix de l'enseignant parmi les enseignants proposés par la Sacado Académie. Paiement à la prestation.</small></em>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Suivi" tabindex="-1" role="dialog" aria-labelledby="Suivi">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_suivi.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <span style="font-size:30px">  Menu <span class="sub_header">Suivi</span>    </span>
                        <em style="font-size:12px;text-align: center" > en illimité (24h/24 et 7j/7) </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" id="indiv_this_exercise" >  
            
                <div class="alert alert-sacado"  align="center">
                    <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>  Menu <span class="">Autonomie</span> 
                    <a href="javascript:void();" id="detail_display_suivi"  class="detail_index" style="font-size:12px;"><i class="bi bi-cursor"></i>  Détails de l'offre <i class="bi bi-question-circle"></i></a><br/> 
                </div>

                <div id="show_detail_display_suivi" style="font-size:12px;">
                    <b class="rose">Interface Enfant </b>
                    
                    <li>Séquences de cours interactifs (collège et lycée) et d’exercices.</li>
                    <li>Outils interactifs de découverte (Primaire et Sixième).</li>
                    <li>Niveaux structurés par thèmes et par compétences.</li>
                    <li>Interface de création de flashcards</li>
                    <li>Préparation aux évaluations en fonction des chapitres travaillés en classe.</li>
                    <li>Suivi détaillé de sa progression jour par jour</li>
                   <br/>
                    <b class="rose">Interface Parent</b>

                    <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord.</li>
                    <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir).</li>
                    <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués).</li>
                    <li>Génération d’un bilan (format pdf).</li>
                </div>

                <h2  align="center"><i class="bi bi-plus"></i></h2>
                    Tous les 10 jours, un enseignant de l'Education Nationale propose à votre enfant un bilan détaillé des résultats pendant <b  class="rose">20 minutes</b>  par <b  class="rose">visio conférence</b>. Lors de ce bilan, des conseils méthodologiques et des axes de progrès sont explicités. <br/><em><small>Sur les jours ouvrés.</small> </em> 
                <hr/>
                <li class="sanspuce"> Primaire : <b class="rose">29€</b>/mois   </li>
                <li class="sanspuce"> Collège : <b class="rose">39€</b>/mois  </li>
                <li class="sanspuce"> Lycée : <b class="rose">49€</b>/mois  </li>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exam" tabindex="-1" role="dialog" aria-labelledby="exam">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <img src="{% static 'img/menu_suivi.png' %}"  width="60px"/>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <span style="font-size:30px">  Menu <span class="sub_header">Prép'Exam</span>    </span>
                        <em style="font-size:12px;text-align: center" > Visio </em>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="modal-body" id="indiv_this_exercise" >  
            
                <div class="alert alert-sacado"  align="center">
                    <img src="{% static 'img/menu_autonomie.png' %}"  width="60px"/>  Menu <span class="">Autonomie</span> 
                    <a href="javascript:void();" id="detail_display_perso"  class="detail_index" style="font-size:12px;"><i class="bi bi-cursor"></i>   Détails de l'offre <i class="bi bi-question-circle"></i></a><br/> 
                </div>

                <div id="show_detail_display_perso" style="font-size:12px;">
                    <b class="rose">Interface Enfant </b>

                    <li>Séquences de cours interactifs (collège et lycée) et d’exercices.</li>
                    <li>Outils interactifs de découverte (Primaire et Sixième).</li>
                    <li>Niveaux structurés par thèmes et par compétences.</li>
                    <li>Interface de création de flashcards</li>
                    <li>Préparation aux évaluations en fonction des chapitres travaillés en classe.</li>
                    <li>Suivi détaillé de sa progression jour par jour</li>
                   <br/>
                    <b class="rose">Interface Parent</b>

                    <li>Visualisation des résultats de chacun de vos enfants sur votre tableau de bord.</li>
                    <li>Choix de la réception d’un mail à chaque exercice fait (fréquence à choisir).</li>
                    <li>Choix de la réception d’un rapport d’activité (nombre et % de réussite des exercices effectués).</li>
                    <li>Génération d’un bilan (format pdf).</li>
                </div>

                <h2  align="center"><i class="bi bi-plus"></i></h2>
                Package de <b  class="rose">10</b> heures de <b  class="rose">visio conférence</b> avec un enseignant de l'Education Nationale. <br/><em><small>Sur les jours ouvrés.</small> </em> 
                <hr/>
                <li class="sanspuce"> Primaire : <b  class="rose">29€</b>/h <small>Soit 290€ les 10 séances</small></li>
                <li class="sanspuce"> Collège : <b  class="rose">39€</b>/h <small>Soit 390€ les 10 séances</small></li>
                <li class="sanspuce"> Lycée : <b  class="rose">49€</b>/h <small>Soit 490€ les 10 séances</small></li>

            </div>
        </div>
    </div>
</div>





{% endblock %}

