<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
 
            <video src="https://sacado-academie.fr/ressources/videos/creer_groupe.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>


    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
 
            <video src="https://sacado-academie.fr/ressources/videos/individualiser.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>

    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
 
            <video src="https://sacado-academie.fr/ressources/videos/archiver_parcours.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>


    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
             <video src="https://sacado-academie.fr/ressources/videos/ranger.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
 
            <video src="https://sacado-academie.fr/ressources/videos/suivi_parent.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>
    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
 
            <video src="https://sacado-academie.fr/ressources/videos/suivis_bilan.mp4" width=560  height=315 controls  >
              Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
            </video>
    </div>
</div>