{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}
<!--==========================
Intro Section -
============================-->
 

<section id="faq"><br/>
    <div class="container bg_white">
        <div class="row">
            <div class="col-xs-12 col-md-12" >
                <h1 class="title_bloc_index">Positionnement </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" >
                <p>L'équipe Sacado a conçu un test de positionnement par niveau. Ces tests s'appuient sur les évaluations nationales et identifient les réussites et les manques par rapport aux attentes de l'Education Nationale. </p>
                <p>Nous proposons de réaliser un test <b class="rose">gratuitement</b> pour obtenir un profil de connaissances. Directement après le test, vous obtenez une analyse de vos résultats pour une utilisation optimale de la plateforme SACADO. Bonne passation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" align="center" >
            {% for p in positionnements %}
                <div class="card_positionnement">
                    Test de positionnement <a href="{% url 'start_positionnement_student' p.id %}" style="font-size:100px">{{ p.level.shortname}}</a>
                </div>
            {% empty %}
                <div class="alert alert-danger">
                    Tests de positionnement en cours de création
            {% endfor%}
            </div>
        </div>
    </div>
</section>

{% endblock %} 