{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}


{% block page_title %}  
    
    <i class='bi bi-badge-ad'></i> Confirmation de l'abonnement
{% endblock %}


 
{% block page_menu_right %}

{% endblock %}


{% block body %}
<section class="content_main">

    <div class="row">
        <div class="col-sm-12 col-md-12" align="center">
 
        	<div class="paiement_card" >	

        		<img src="{% static 'img/sacadoLogo.png' %}" />

               {{  request.user.first_name  }} {{  request.user.last_name  }}, vous venez de demander une adhésion à la <span class="font_sacado" >SACADO ACADÉMIE</span> pour  

               <h3 class="font_sacado"  align="center"  style="margin:30px 0px">{{  student.user.first_name  }} {{  student.user.last_name  }}</h3>


               <p class="double_line">

               	{% if formule.id == 1 %}<img src="{% static 'img/menu_autonomie.png' %}" width="80px" style='float:right; margin-left:20px' />
               	{% elif formule.id == 2 %}<img src="{% static 'img/menu_suivi.png' %}" width="80px" style='float:right; margin-left:20px' />
               	{% elif formule.id == 3 %}<img src="{% static 'img/menu_exam.png' %}" width="80px" style='float:right; margin-left:20px' />
               	{% else %}<img src="{% static 'img/prep_class.png' %}" width="80px" style='float:right; margin-left:20px' />{% endif %}

               	Vous avez choisi la formule <b class="font_sacado"> {{ formule.name}}</b></p>
                <p class="double_line">pour la classe de <b class="font_sacado">{{ level.name }}</b></p>
               <p class="double_line"> valable jusqu'au <b class="font_sacado"> {{ end_day}}</b></p>


               <h3 class="font_sacado">  Montant à  régler :  {{ amount|floatformat:"2" }}€</h3>




	        	<div    style="margin:30px 0px"  align="center">
			  <form method="POST" action="https://recette-tpeweb.e-transactions.fr/php/">
			   {% for cv in champs_val %}<input type="hidden" name="PBX_{{cv.0}}" value="{{cv.1}}">
			   {% endfor %}
                         
			<button type="submit" class="btn btn-sacado">Allez sur le site de paiement du CA <img src="{% static 'img/credit_agricole.png' %}" width="100px" /></button>
					</form>
	            </div>

	            <small><img src="{% static 'img/credit_agricole.jpg' %}"  />Redirection vers le site sécurisé du Crédit Agricole.</small>

            </div>
        </div>
    </div> 
    



{% endblock %}



