{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="faq">
      <div class="container bg_white">
            <div class="row">
                  <div class="col-ms-12">
                        <h3 class='title_bloc_index'>CGU : Conditions Générales d'Utilisation </h3>
                        <h4 class="color_sacado bebas">Article 1 - Champ d'application</h4>
                        <p>L'accès au site Internet sacado-academie.fr (ci-après « le Site »), ainsi que l'utilisation de son contenu,
                        s'effectue dans le cadre des présentes Conditions Générales d'Utilisation. Le fait d'accéder et de naviguer
                        sur le Site constitue de votre part une acceptation sans réserve des présentes Conditions Générales
                        d'Utilisation.</p>
                        <h4 class="color_sacado bebas">Article 2 - Nature et portée des informations publiées sur le site</h4>
                        <p>Le Site propose un accès à des cours, exercices, énoncés, corrigés, méthode Sacado, quizz,
                        flashcards, parcours d'apprentissage, séquences en apprentissage adapté et autres types de supports
                        pédagogiques, ainsi que ses services développés par la société SANS PB SAS (ci-après « la Société »).
                        Le Site propose également un accès à des témoignages émis par des professionnels de l'éducation ou des
                        utilisateurs de sacado-academie.fr, ainsi qu'à des articles de presse. De telles informations n'engagent que
                        les personnes consultées et ne traduisent pas nécessairement l'opinion de la Société.</p>
                        <p>L'ensemble de ces informations est publié sur le Site à titre d'information uniquement et pour aider à la
                        compréhension des programmes scolaires. Les informations ne sauraient en aucun cas constituer un
                        substitut aux programmes scolaires officiels.</p>
                        <p>En conséquence, vous reconnaissez que la responsabilité de la Société ne pourra être recherchée au titre
                        de l'information proposée sur le Site et vous acceptez que l'utilisation de ces informations s'effectue sous
                        votre seule et entière responsabilité, contrôle et direction.</p>
                        <h4 class="color_sacado bebas">Article 3 - Garanties et responsabilités</h4>
                        <p>Le contenu du Site a été élaboré avec le plus grand soin avec des professionnels de l'éducation nationale
                        et a fait l'objet d'un contrôle minutieux de la part de la Société qui s'efforce d'assurer au mieux que les
                        informations accessibles sur le Site sont exactes et régulièrement mises à jour. Toutefois, la Société
                        n'assure aucune garantie expresse ou tacite concernant tout ou partie du Site et n'est pas responsable de
                        l'actualité, l'exactitude, l'exhaustivité ni de la qualité des informations diffusées sur le Site.</p>
                        <p>En aucun cas la Société ne saurait être tenue pour responsable d'un quelconque dommage matériel ou
                        immatériel, direct ou indirect, quelle qu'en soit la cause, l'origine, la nature ou les conséquences, découlant
                        de la consultation et/ou de l'utilisation du Site.</p>
                        <p>En outre, la Société décline toute responsabilité en cas d'interruption ou d'inaccessibilité du Site, de
                        survenance de bogues ou de tout dommage résultant d'actes frauduleux (tels que des intrusions) de tiers à
                        partir du Site.</p>
                        <p>La Société met en œuvre des moyens destinés à assurer la confidentialité et la sécurité des informations à
                        caractère personnel collectées sur le Site. Toutefois, la Société ne maitrise pas les risques liés au
                        fonctionnement d'Internet et attire votre attention sur l'existence de risques éventuels en termes de
                        confidentialité des données transitant via ce réseau.</p>

                        <h4 class="color_sacado bebas">Article 4 - Liens hypertexte</h4>
                        <p>Les pages de ce Site peuvent contenir des liens hypertexte renvoyant vers d'autres sites Internet exploités
                        par des tiers. Les liens hypertexte vers les sites Internet de tiers sont destinés à faciliter la navigation des
                        internautes. La Société n'exerce aucun contrôle actuel ou futur sur la réalisation, le contenu, la mise à jour,
                        la véracité ou l'exactitude des sites externes accessibles par hyperliens, ni sur leurs offres, leurs annonces
                        publicitaires et les liens auxquels ils renvoient. La Société ne saurait par conséquent être tenue pour
                        responsable des contenus illégaux, erronés ou incomplets présents sur les sites Internet de tiers et
                        particulièrement pour des dommages résultant de l'utilisation des informations mises à disposition sur ces
                        sites.</p>
                        <p>La Société n'assume également aucune responsabilité relative à une quelconque violation de droits
                        d'auteur, marques ou autres droits de propriété intellectuelle pouvant résulter de l'accès à un site Internet
                        de tiers par un lien hypertexte.</p>
                        <p>La création de liens hypertexte vers le Site, autre que vers sa page d'accueil, ne peut être faite qu'avec
                        l'autorisation préalable, écrite et expresse de la Société. Cette autorisation peut être révoquée à tout
                        moment et sans indemnité. En aucun cas, les pages du Site ne doivent se retrouver imbriquées à l'intérieur
                        des pages d'un autre site Internet. Dans tous les cas, un message doit indiquer au visiteur que celui-ci
                        change de site Internet.</p>
                        <h4 class="color_sacado bebas">Article 5 - Propriété intellectuelle</h4>
                        <p>La Société est titulaire du nom de domaine sacado-academie.fr, et de la méthode Sacado. Le Site qui y
                        est associé est une œuvre de l'esprit protégée par le droit de la propriété intellectuelle.</p>

                        <p>Le Site dans son ensemble et chacun des éléments qui le composent (tels que notamment textes, cours,
                        exercices, énoncés, corrigés, méthodes, astuces, arborescences, logiciels, animations, images, dessins et
                        modèles, marques, photographies, illustrations, schémas, logos, sons, musiques, et l'ensemble des
                        éléments téléchargeables », etc.) sont, sauf mentions particulières, la propriété exclusive de la Société qui
                        est seule habilitée à utiliser les droits de propriété intellectuelle y afférents.</p>
                        <p>En conséquence, la reproduction, la représentation et l'altération de tout ou partie du Site sur tout support,
                        pour un usage autre que personnel et privé dans un but non commercial sont strictement interdites, sauf
                        autorisation expresse et préalable de la Société.</p>
                        <p>La violation de ces dispositions est passible de sanctions conformément aux dispositions des Codes de la
                        Propriété Intellectuelle et Pénal, au titre notamment de la contrefaçon de droit d'auteur et de droit des
                        marques, ainsi que du Code Civil en matière de responsabilité civile.</p>
                        <p>Si toutefois, le contenu du Site devait porter atteinte aux droits de propriété intellectuelle de tiers, la Société
                        s'engage à retirer aussitôt de sa publication, après avoir été informée de l'atteinte, l'objet du litige et/ou fera
                        connaître le véritable auteur ou propriétaire des droits.</p>
                        <h4 class="color_sacado bebas">Article 6 - Crédits photos</h4>
                        <p>Mentionnés sur chaque élément iconographique le cas échéant ou lien hypertexte vers le site partenaire.</p>
                        <h4 class="color_sacado bebas">Article 7 - Données personnelles</h4>
                        <p>Pour consulter et visiter le Site, vous n'avez pas à communiquer de données personnelles.
                        Vous avez la possibilité de consulter des contenus d’exercices par niveau proposé par le Site sans avoir à
                        communiquer vos données personnelles. Pour accéder à l'ensemble des contenus proposés par la
                        Société, vous devez obligatoirement créer un compte personnel sur le Site.</p>
                        <p>La Société est susceptible de collecter vos données personnelles lorsque vous créez un compte personnel
                        sur le Site ou pour toute souscription à un abonnement proposé par la Société. La Société est également
                        susceptible de collecter vos données personnelles lorsque vous la sollicitez par l'intermédiaire de la
                        rubrique « contact » afin de répondre à toute question que vous pourriez avoir.</p>
                        <p>Les données personnelles collectées peuvent concerner des mineurs. Ces données sont strictement
                        nécessaires à la fourniture du service et ne seront traitées par la Société qu'avec le consentement
                        préalable des parents recueilli par le biais d'une case à cocher sur le formulaire de collecte pour les
                        mineurs de moins de 15 ans.</p>
                        <p>Lorsque vous fournissez des données personnelles, vous vous engagez à communiquer des informations
                        exactes et ne portant pas préjudice aux intérêts et/ou aux droits des tiers.
                        Les informations et données recueillies vous concernant font l'objet d'un traitement informatique opéré par
                        la Société qui a pour finalité
                        <li> de vous fournir un service personnalisé,</li>
                        <li> la gestion de vos demandes et de votre abonnement,</li>
                        <li> la production d'analyses statistiques, (iv) de vous proposer, le cas échéant, de la publicité et du
                        contenu marketing personnalisés. La fourniture de ces informations et données est nécessaire
                        pour vous offrir les services auxquels vous souhaitez avoir accès. A défaut de renseignement de
                        vos données personnelles, votre demande de création de compte ou d'abonnement ne pourra pas
                        être traitée.</li></p>
                        <p>Dans le cadre des finalités ci-dessus, vos données peuvent être transmises à des sociétés prestataires
                        chargées notamment de la gestion, de l'exécution et du traitement des opérations de paiement. Ces
                        données sont traitées et stockées chez l'hébergeur du Site identifié au sein des mentions légales figurant
                        sur le Site dans des conditions visant à assurer leur sécurité.</p>
                        <p>En tout état de cause, l’ensemble des sous-traitants de la Société présentent des garanties suffisantes afin
                        de garantir la protection de vos données.</p>
                        <p>Lorsque vous créez un compte, vos données sont stockées pour la période nécessaire à l’exécution des
                        services auquel vous souhaitez accéder et jusqu’à 1 an après la fin de celle-ci.</p>
                        <p>En cas de refus ou au terme de ce délai de 1 an, la Société pourra prendre contact avec vous pour vous
                        demander si vous souhaitez continuer à recevoir des informations de notre part. En l’absence d’action
                        positive et explicite de votre part, les données pertinentes seront archivées pendant la durée de la
                        prescription légale ainsi que pour une période de dix ans pour les besoins de la gestion de la facturation et
                        de la comptabilité.</p>
                        <p>Dans le cadre de votre utilisation des services, nous sommes amenés à vous fournir un contenu adapté à
                        votre profil en fonction des résultats obtenus. Cette personnalisation est nécessaire à la fourniture de nos
                        services puisqu’elle nous permet de vous proposer le programme scolaire adapté à vos besoins et de
                        progresser à votre rythme.</p>
                        <p>La Société s'engage à prendre toutes les mesures de sécurité techniques et organisationnelles
                        nécessaires pour préserver la confidentialité et la sécurité de vos données personnelles.</p>
                        <p>Si vous créez un compte personnel sur le Site, vous êtes susceptible d'être destinataire de contenus
                        informatifs, commerciaux ou promotionnels de la part de la Société de la Société, offres promotionnelles,
                        tutos, etc…) à l'adresse de courrier électronique renseignée. Si vous ne souhaitez plus recevoir ces
                        contenus, vous pouvez à tout moment le signaler à la Société en cliquant sur le lien prévu à cet effet en
                        bas de chaque contenu.</p>

                        <p>Conformément à la Loi Informatique et Libertés n°78-17 du 6 janvier 1978 modifiée et ses décrets
                        d'application, vous disposez d'un droit d'accès, de rectification, d’effacement, d’opposition, à la limitation du
                        traitement et à la portabilité des données qui vous concernent. Vous pouvez exercer vos droits selon les
                        modalités décrites ci-dessous à tout moment en vous adressant à notre support client à
                        l'adresse info@sacado-academie.fr.</p>
                        <h5 class="color_sacado bebas"> Droit d’accès</h5 class="color_sacado bebas">
                        <p>Si vous souhaitez exercer votre droit d’accès, nous vous fournirons notamment les informations
                        suivantes :<br/>
                        Les finalités du traitement de vos données ;<br/>
                        Les catégories des données personnelles collectées et traitées ;<br/>
                        Les catégories des destinataires auxquels vos données à caractère personnel ont été communiquées ou
                        sont susceptibles d’être communiquées ;<br/>
                        La durée de conservation des données à caractère personnel ;  <br/>
                        Les informations relatives aux droits dont vous disposez l’égard de ses données à caractère personnel.</p>
                        <h5 class="color_sacado bebas"> Droit de rectification</h5 class="color_sacado bebas">
                        <p>Vous pouvez nous demander de corriger vos données à caractère personnel si celles-ci se révèlent
                        inexactes ou incomplètes.</p>
                        <h5 class="color_sacado bebas"> Droit à l’effacement</h5 class="color_sacado bebas">
                        <p>Vous pouvez demander à ce que vos données soient supprimées dans les cas suivants :<br/>
                        Si ces données ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou
                        sont traitées ;<br/>
                        Si vous avez retiré votre consentement au traitement de vos données lorsque le consentement préalable
                        est la base légale de leur collecte et de leur traitement et qu’il n’existe pas d’autre base légale les justifiant ;<br/>
                        Si vous avez exercé votre droit d’opposition ;<br/>
                        Si le traitement de vos données à caractère personnel est illégal ;<br/>
                        Si une obligation légale le prévoit; <br/>
                        Si vous étiez un mineur de moins de 16 ans au moment de la collecte de vos données à caractère
                        personnel.</p>
                        <h5 class="color_sacado bebas"> Droit à la limitation du traitement</h5 class="color_sacado bebas">
                        <p>Vous pouvez demander la limitation du traitement de vos données à caractère personnel dans l’un des cas
                        suivants :<br/>
                        Pour la durée nécessaire pour nous permettre d’effectuer des vérifications dans le cas où vous contestez
                        l’exactitude de vos données à caractère personnel <br/>
                        Si le traitement de vos données est illicite mais que vous souhaitez demander la limitation de l’utilisation
                        des données plutôt que leur suppression <br/>
                        Si les données ne nous sont plus utiles mais qu’elles vous sont nécessaires à la constatation, l’exercice ou
                        la défense de vos droits en justice <br/>
                        Si vous avez exercé votre droit d’opposition au traitement, pour la durée des vérifications visant à analyser
                        si nos motifs légitimes prévalent sur les vôtres.</p>
                        <h5 class="color_sacado bebas"> Droit à la portabilité</h5 class="color_sacado bebas">
                        <p>Dans le cadre de l’utilisation de nos services, vous disposez d’un droit à la portabilité des données à
                        caractère personnel que vous nous avez fournies. Si vous exercez ce droit, nous vous remettrons les
                        données vous concernant dans un format structuré, couramment utilisé et lisible par machine. Au titre de
                        ce droit à la portabilité des données à caractère personnel vous avez la possibilité que vos données soient
                        transmises directement à un autre responsable de traitement, sous réserve que cela soit techniquement
                        possible. Il est toutefois précisé que ce droit à la portabilité ne couvre pas les données statistiques ou
                        anonymisées, ni les données déduites et dérivées qui sont crées par nous à partir des données que vous
                        avez fournies. Par exemple, l’appréciation de votre niveau scolaire en fonction de vos résultats sur le Site
                        ne peut être considéré comme une donnée fournie par vous.</p>
                        <h5 class="color_sacado bebas"> Droit d’opposition</h5 class="color_sacado bebas">
                        <p>Vous pouvez vous opposer à tout traitement de vos données à caractère personnel lorsque vos données
                        sont traitées sur le fondement de l’intérêt légitime, sauf s’il existe des motifs légitimes et impérieux qui
                        exigent que nous traitions ces données. Vous pouvez également vous opposer à tout moment au
                        traitement de vos données à caractère personnel à des fins de prospection.</p>
                        <h5 class="color_sacado bebas"> Droit de définir des directives relatives au sort des données après sa mort</h5 class="color_sacado bebas">
                        <p>Vous disposez du droit de formuler des directives relatives à la conservation, à l'effacement et à la
                        communication de vos données après votre décès et pouvez à tout moment modifier ou révoquer ces
                        directives. Vous pouvez désigner une personne chargée de l’exécution de vos directives qui aura qualité, à
                        votre décès, pour en prendre connaissance et demander leur mise en œuvre. A défaut de désignation ou,
                        sauf directive contraire, en cas de décès de la personne désignée, vos héritiers ont qualité pour prendre
                        connaissance de vos directives et demander leur mise en œuvre auprès de nous. En l’absence de
                        directives ou de mention contraire dans vos directives, vos héritiers peuvent exercer vos droits dans les
                        conditions prévues par la loi. Lorsque vos héritiers en feront la demande, nous devrons justifier, sans frais,
                        avoir procédé aux opérations qu’ils ont exigés. Les désaccords entre héritiers sur l'exercice de ces droits
                        sont portés devant le tribunal de grande instance compétent.</p>

                        <h4 class="color_sacado bebas">Article 8 - Cookies</h4>

                        <p>La Société est susceptible d'implanter des cookies dans votre terminal.
                        Un cookie est un petit fichier texte déposé sur votre disque dur et dont le but est de collecter des
                        informations sur la manière dont vous visitez le Site. Les cookies aident également à améliorer la qualité
                        du Site et donc à fournir à l'internaute une expérience qualitative et agréable de visite du Site.
                        Les cookies que la Société peut être amenée à installer dans votre terminal sont destinés à faciliter et à
                        rendre plus agréable votre expérience sur le Site. Il s'agit de cookies d'identification de session et de
                        cookies analytiques.</p>
                        <h4 class="color_sacado bebas">Article 9 - Compte personnel et mot de passe</h4>
                        <p>Si vous choisissez ou si la Société vous transmet un code d'identification, un mot de passe ou toute autre
                        information vous permettant de vous connecter à votre compte personnel, vous devez considérer ces
                        informations comme confidentielles. Vous ne devez pas les divulguer à un tiers.</p>
                        <p>La Société se réserve à tout moment le droit de suspendre tout code d'identification ou mot de passe, si
                        vous n'avez pas respecté les dispositions ci-dessus énoncées.</p>
                        <p>Si vous connaissez ou suspectez un tiers ayant connaissance de votre code d'identification ou mot de
                        passe, vous devez en informer la Société à l'adresse info@sacado.xyz</p>

                        <h4 class="color_sacado bebas">Article 10 - Modification des présentes conditions générales d'utilisation</h4>
                        <p>La Société se réserve expressément le droit de modifier les présentes Conditions Générales d'Utilisation,
                        comme les clauses relatives à la durée, aux caractéristiques et au prix des services proposés par la
                        Société, à tout moment et sans préavis.</p>
                        <p>Ces modifications sont publiées par leur mise en ligne et sont réputées acceptées sans réserve lorsque
                        vous accédez au Site postérieurement à leur mise en ligne.</p>
                        <p>La Société se réserve également le droit de modifier, de compléter ou de supprimer tout ou partie du
                        contenu du Site ou de l'offre qu'elle y présente sans préavis, temporairement ou définitivement.
                        Nous vous recommandons par conséquent de consulter régulièrement la présente rubrique.</p>

                        <h4 class="color_sacado bebas">Article 11 - Litiges</h4>
                        <p>Les présentes Conditions Générales d'Utilisation sont établies en conformité avec le droit français,
                        notamment les dispositions de la Loi n°2004-575 du 21 juin 2004 « pour la confiance dans l'économie
                        numérique », ainsi que la Loi n°78-17 du 6 janvier 1978 « relative à l'informatique, aux fichiers et aux
                        libertés » ainsi que les modifications issues du Règlement européen sur la protection des données
                        (RGPD). En cas de contestation relative à l’usage de vos données, vous pouvez saisir la Commission
                        Nationale de l’Informatique et des Libertés.</p>
                        <p>Les juridictions françaises sont territorialement compétentes pour connaître de tout litige afférent au Site,
                        sans préjudice de votre droit, si vous êtes un consommateur, d'engager une procédure devant les
                        tribunaux compétents d'une autre ville, conformément aux lois définissant les droits des consommateurs.
                        <p>Vous avez également la possibilité de saisir gratuitement au médiateur de la consommation dont les
                        coordonnées figurent ci-dessous :<br/>
                        Medicys,<br/>
                        73 boulevard de Clichy, 75009 Paris<br/>
                        01 49 70 15 93<br/>
                        contact@medicys.fr<br/></p>


                  </div> 
            </div> 
	</div> 
</section>
{% endblock  %} 