{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if group %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

     <script>
        require(['script/ajax-adhesion']);
    </script>
 
 
{% endblock %}


{% block page_title %}  
    
    <i class='bi bi-badge-ad'></i> Gérer l'adhésion 
{% endblock %}


 
{% block page_menu_right %}

{% endblock %}


 
     
{% block body %}     
<section class="content_main"> 
 
    <form action="{% url 'paiement_change_adhesion' %}" method="POST">
        {% csrf_token %}
        <input name="student_id" id="student_id" value="{{student.user.id }}"  type="hidden"   />
        <input name="amount" id="amount" type="hidden"  />
        <input name="start" id="start" type="hidden"  />
        <input name="stop" id="stop" type="hidden"  />           
        <input name="level_id" id="level_id"  type="hidden"  />
        <input name="year" id="year" type="hidden"   />

        <div class="card" style="padding: 20px">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2  class="sacado_color_text">{{student }}</h2>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h4>Adhésion actuelle  </h4>
                    <li class="sanspuce"><label>Niveau   : <span class="sacado_color_text">{{ student.level.name }}</span></label></li>
                    <li class="sanspuce"><label>Formule  : <span class="sacado_color_text">{{ adhesion.formule }}</span></label></li>
                    <li class="sanspuce"><label>Jusqu'au : <span class="sacado_color_text">{{ adhesion.stop|date:"d-m-Y" }}</span></label></li>
                </div> 

                <div class="col-sm-6 col-md-6" align="center">
                {% if adhesion.formule.id == 1 %}<img src="{% static 'img/menu_autonomie.png' %}"  />
                {% elif adhesion.formule.id == 2 %}<img src="{% static 'img/menu_suivi.png' %}" />
                {% elif adhesion.formule.id == 3 %}<img src="{% static 'img/menu_exam.png' %}" />
                {% else %}<img src="{% static 'img/prep_class.png' %}" />{% endif %}
                </div> 


            </div>

            <hr/>
            <div class="row">
                <div class="col-sm-12 col-md-12">                    
                    <div class="form-group">  
                    Sélectionner la formule désirée et la durée de l'engagement.  
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">                     
                        <label>Formule souhaitée :</label>
                            {% for f in formules  %}
                                <li class="sanspuce"><label><input type="radio" value="{{ f.id }}" class="formule_change" name="formule"> <span class="sacado_color_text">{{ f.name }}</span></label></li>
                            {% endfor %}
                    </div>    
                </div> 
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">                     
                        <label>Durée :</label>
                        <li class="sanspuce"><label><input type="radio" value="1" name="duration" class="duration_change"> <span class="sacado_color_text">1 mois</span></label></li>
                        <li class="sanspuce"><label><input type="radio" value="3" name="duration" class="duration_change"> <span class="sacado_color_text">3 mois</span></label></li>
                        <li class="sanspuce"><label><input type="radio" value="6" name="duration" class="duration_change"> <span class="sacado_color_text">6 mois</span></label></li>
                        <li class="sanspuce"><label><input type="radio" value="12" name="duration" class="duration_change"> <span class="sacado_color_text">12 mois</span>
                        </label></li>
                    </div>    
                </div> 
            </div> 
            <div id="result_change_adhesion">                     
                 
            </div>    
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <button type="submit" id="submit_change" class="btn btn-primary">Valider </button>   
     
                    <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default" /></a>
                </div>
            </div>    
        </div>
    </form>  

</section>            
{% endblock %}