{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}

<section id="get_detail">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card_recapitulatif" > 
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <img src="{% if formule.id == 1 %}{% static 'img/menu_autonomie.png' %}{% elif formule.id == 2 %}{% static 'img/menu_suivi.png' %}{% elif formule.id == 3 %}{% static 'img/menu_exam.png' %}{% else %}{% static 'img/menu_class.png' %}{% endif %}"  width="60px" style="float: left">

                            Menu  <b>{{ formule.name }}</b> <br/>
                            Nombre d'enfant : <b>{{ data_post.nb_child }}</b> 
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h3>Montant : {{ amount|floatformat:"2" }}€ </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <hr/>
 

            <input type="hidden" name="formule_id" value="{{ formule.id }}" />
            <input type="hidden" name="nb_child"  value="{{ data_post.nb_child }}" />
            <div class="row">
                {% for parent in parents %}
                <div class="col-sm-12 col-md-6" style="margin-top:30px" >
                    <div class="card_recapitulatif">
                        <h4  class="title_page violet"><b> Parent  </b></h4>
                        <div class="form-group">
                             Nom : <b>{{ parent.last_name  }}</b>
                        </div>     
                        <div class="form-group">
                             Prénom :  <b>{{ parent.first_name }}</b>
                        </div>
                        <div class="form-group">
                           Courriel : <b>{{ parent.email }}</b> 
                        </div>
                        <div class="row"> 
                            <div class="col-sm-12 col-md-11">
                                <div class="form-group">
                                    Identifiant : <b>{{ parent.username  }}</b> 
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    Ce récapitulatif vous sera envoyé à l'adresse courriel renseignée ci-dessus.
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                {% for student in students %}
                <div class="col-sm-12 col-md-6"  style="margin-top:30px"  >
                    <div class="card_recapitulatif">
                        <h4  class="title_page violet"><b> Enfant </b></h4>
                        <div class="form-group">
                             Nom : <b>{{ student.last_name  }}</b>
                        </div>     
                        <div class="form-group">
                             Prénom :  <b>{{ student.first_name }}</b>
                        </div>
                        <div class="form-group">
                            Identifiant : <b>{{ student.username  }}</b> 
                        </div>
                        <div class="form-group">
                           Courriel <em>(facultatif)</em> : <b>{{ student.email }}</b> 
                        </div>
                        <div class="form-group">
                            Niveau favori :<b> {{ student.level }} </b>
                        </div>
                        <div class="form-group">
                            Formule :<b> {{ student.formule.name }} </b>
                        </div>
                        <div class="form-group">
                            Durée :<b> {{ student.duration }} mois </b>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
 

            <div class="row" style="margin-top:30px">
                <div class="col-sm-12 {% if data_post.nb_child == 1 %}col-md-6{% endif %}" align="center">


                  <form method="POST" action="https://recette-tpeweb.e-transactions.fr/php/">
			   {% for cv in champs_val %}<input type="hidden" name="PBX_{{cv.0}}" value="{{cv.1}}">
			   {% endfor %}

                        <div >Montant  à régler : {{ amount|floatformat:"2" }}€</div>

                        <button type="submit" class="btn btn-violet">Allez sur le site de paiement <img src="{% static 'img/credit_agricole.png' %}" width="100px" /></button><br/>
                    </form>

                    <small>Redirection vers le site sécurisé du Crédit Agricole.</small>


                    <a href="javascript:history.back()" class="btn btn-default" >Annuler</a>
                </div>
            </div>
 
    </div>
</section> 
{% endblock %}
