{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %}


<section id="faq">
    <div class="container bg_white">
        <div class="row">
            <div class="col-xs-12 col-md-12" >
                <h1 class="title_bloc_index">Trois exercices pour tester ... </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" >
                Classe de {{level.name}} <img src="{% static 'img/angle-right.png' %}"/> <span class="clic_bloc"><small style="color:#00B999">Clique sur un exercice</small></span>
            </div>
        </div>
        <div class="row margins">
        {% for exercise in  exercises %}
            <div class="col-xs-12 col-md-4">
                <a href="{% url 'show_this_index_exercise' exercise.id %}">{% if exercise.supportfile.imagefile %} <img src="{{ exercise.supportfile.imagefile.url }}"  width="300px" /> {% endif %}</a>
            </div>
        {% endfor %}
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-12 telephonie"  >
                Nos exercices ({{ nb }} sur ce niveau) sont à <b>variables dynamiques aléatoires</b>, c'est à dire que les valeurs sont différentes à chaque exercice. <br/>Votre enfant peut alors <b>s'entraîner à l'infini</b> pour une bonne maîtrise de la méthode. <br/>Chaque situation est <b>immédiatement corrigée</b> après la réponse, axe de la <span class="rose_light" >méthode SACADO©</span>. <br/>Nos exercices ciblent directement les compétences de l'Éducation Nationale. 
            </div>
        </div>


        <div class="row vspace">
            <div class="col-xs-12" style="padding-top:20px;" >
                <a href="{% url 'index' %}" >Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</section>

{% endblock %} 