{% extends 'dashboard.html' %}
{% load static %}


 


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common-accueil.js' %}"></script> 
    <script>
        require(['script/ajax-adhesion']);
    </script>
{% endblock %}



{% block page_title %}
    <i class='bi bi-badge-ad icon_size sacado_color'></i> Mes adhésions 
{% endblock %}


{% block page_menu_right %}
    <a href="{% url 'add_adhesion' %}" class="btn btn-inscription pull-right"> Nouvelle adhésion</a>  


    {% comment %}
    <a href="{% url 'renewal_adhesion'   %}" class="btn btn-inscription pull-right"> Renouveler</a>   
    {% endcomment %}
{% endblock %}




{% block body %}
    <section class="content_main"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">

                
                    <table class="table table-sacado table-hover standard_tab_sort">
                        <thead>
                        <tr>
                            <th>Chrono</th>
                            <th>Adhésions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for facture in factures %}
                                <tr>
                                    <td  class="left">
                                        

                                        {% if facture.file %}
                                            <a href="{{ facture.file.url }}" target="_blank" class="pull-right"> Télécharger {{ facture.chrono }}</a>
                                        {% else %}
                                            {{ facture.chrono }}
                                        {% endif %}


                                    </td>
                                    <td class="right">
                                        {% for adh in facture.adhesions.all %}

                                            <li class="sanspuce">
                                                <form action="{% url  'paiement' %}" method="POST" >{% csrf_token %}
                                                {{ adh.student }}  - 
                                                {{  adh.formule}}   <small>jusqu'au</small> {{adh.stop|date:"d-m-Y" }} - 
                                                {% if adh.is_active %}
                                                    <a href="{% url 'change_adhesion' adh.student.user.id %}" style="text-decoration:underline">Gérer la formule</a>                                                   
                                                {% else %}
                                                    
                                                    <input name="student_id" id="student_id" value="{{ adh.student.user.id }}"  type="hidden"   />
                                                    <input name="amount" id="amount"  value="{{ adh.amount }}" type="hidden"  />
                                                    <input name="start" id="start" value="{{  adh.start|date:'Y-m-d' }}" type="hidden"  />
                                                    <input name="stop" id="stop" value="{{  adh.stop|date:'Y-m-d' }}" type="hidden"  />           
                                                    <input name="level_id" id="level_id"  value="{{ adh.student.level.id }}" type="hidden"  />
                                                    <input name="formule" id="formule_id" value="{{ adh.formule.id }}" type="hidden"   />
                                                    <button type="submit" class="btn btn-danger">Formule en attente de paiement</button> 
                                                    
                                                {% endif %}
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-12">     
                    <a href="javascript:history.back()"  class="btn btn-default" >Retour </a>
            </div>
        </div>
    </section>
    </div>
 


{% endblock %}