{% extends 'academy.html' %}

{% load widget_tweaks %}
{% load static %}



 



{% block body %}
<section id="faq">
    <div class="container bg_white">
        <div class="row">
        <div class="col-ms-12">
                <h3 class='title_bloc_index'>QUI SOMMES-NOUS ? </h3>



 

					 

					<p>Une équipe de profs passionnés, par les maths, la physique, la programmation mais pas que…</p>

					<p>C’est pourquoi nous avons créé la méthode Sacado<i class="fa fa-copyright"></i></p>

					<ul>
						<li> nous nous intéressons aux neurosciences pour améliorer l’apprentissage des enfants, par exemple pour la place de l’erreur (tous nos exercices valorisent les efforts des élèves : ils peuvent continuer l’entraînement pour améliorer leur score), les quizz qui permettent de tester leurs connaissances mais aussi la création de leurs flashcards pour maîtriser leurs connaissances.</li>

						<li>nous appliquons la technologie de manière réfléchie et innovante en créant des séquences d’exercices, de cours, de quizz… sous le prisme de l’apprentissage adapté (Adaptative Learning) développé grâce notre module Sacado IA.
						</li>
					</ul>
					<br/><br/>
					<p>Sandrine Audrey  Stephan Philippe Bruno</p>



					<br/>







            </div>
        </div>
       
    </div>
</section> 


  
{% endblock %}