{% load widget_tweaks %}
{% load static %}
{% load item_tags %}      

<ul class="nav nav-tabs">
    {% if qt.is_pseudo  %}
    <li class="li_tabs_and_panels active">
        <a data-toggle="tab" href="#pseudo" class="tabs_and_panels">
            Pseudo-aléatoire
        </a>
    </li>    
    {% endif %}
    {% if qtype != 19 and qtype != 20  %}
    <li class="li_tabs_and_panels">
        <a data-toggle="tab" href="#situations" class="tabs_and_panels">
            Nb situations
        </a>
    </li>
    {% endif %}
    {% if qt.is_alea %}
    <li class="li_tabs_and_panels {% if not qt.is_pseudo %}active{% endif %}">
        <a data-toggle="tab" href="#alea" class="tabs_and_panels">
            <img src="{% static 'img/tex.png' %}" height="10px"/> Variables num. aléatoires
            <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                <div class="helper_tip_text" ><b>Maths - Sciences</b><br/>Utiliser des variables <br/> numériques aléatoires<br/> dans l'énoncé et les réponses.</div>
            </span> 
        </a>
    </li>
    {% endif %}
    {% if qt.is_insert %}
    <li class="li_tabs_and_panels ">
        <a data-toggle="tab" href="#inclusion" class="tabs_and_panels">
            <img src="{% static 'img/tex.png' %}" height="10px"/> Insertion 
        </a>
    </li>
    {% endif %}  
    <li class="li_tabs_and_panels {% if not qt.is_alea and not qt.is_pseudo %}active{% endif %}">
        <a data-toggle="tab" href="#conf" class="tabs_and_panels">
            Config.
        </a>
    </li>
</ul>

<div class="tab-content">  
    {% if qt.is_pseudo  %}
    <div id="pseudo" class="tab-pane fade in active ">
        <small id="text_pseudo">    
            Le pseudo aléatoire tire le nombre de situations enregistrées parmi les items enregistrés. 
            <br/>Si vous enregistrez 20 items possibles et que vous inscrivez 5 situations, 5 items  seront aléatoirement choisis parmi les 20.
            <br/><br/>
        </small>
        <table class="table borderless">
            {% if qtype != 18 or not supportfile.is_alea  %}
            <tr id="tr_pseudo">
                <td>
                    <small>
                        <label>Nombre de 
                            {% if qtype == 1 %}
                                propositions  
                            {% elif qtype == 2 %}
                                questions proposées
                            {% elif qtype == 3 or qtype == 4 %}
                                propositions simultanées
                            {% elif qtype == 6 %}
                                thèmes proposés
                            {% elif qtype == 7 %}
                                anagrammes proposées
                            {% elif qtype == 9 %}
                                textes proposés
                            {% elif qtype == 12 %}
                                grilles proposées 
                            {% elif qtype == 13 %}
                                mots cachés proposés
                            {% elif qtype == 15 %}
                                légendes proposées
                            {% elif qtype == 18  %}
                                axes proposés
                            {% endif %}
                        </label>
                    </small> 
                </td>
                <td>
                    {{ form.nb_pseudo }}<label><small>[Si 0, tout est proposé.]</small></label>
                </td>
            </tr>
            {% endif %}

            {% if qt.is_sub  %}
            <tr id="tr_sub_pseudo">
                <td>
                    <small>
                        <label>Nombre de 
                            {% if qtype == 1 %}
                                propositions  
                            {% elif qtype == 2 %}
                                questions proposées
                            {% elif qtype == 3 or qtype == 4 %}
                                questions proposées
                            {% elif qtype == 6 %}
                                correspondances proposées
                            {% elif qtype == 9 %}
                                textes proposés
                            {% elif qtype == 12 %}
                                grilles proposées 
                            {% elif qtype == 13 %}
                                mots cachés proposés
                            {% elif qtype == 15 %}
                                légendes proposées
                            {% elif qtype == 18 %}
                                marqueurs proposés
                            {% endif %}
                        </label>
                    </small> 
                </td>
                <td>
                    {{ form.nb_subpseudo }}<label><small id="tr_pseudo_sub">[Si 0, tout est proposé.]</small></label>
                </td>
            </tr>
            {% endif %}
        </table>  
    </div>
    {% endif %}  
    {% if qt.is_alea %}
    <div id="alea" class="tab-pane fade {% if not qt.is_pseudo %}in active{% endif %}">
        <li class="sanspuce"> 
            <small><b>1. Déclarer les variables numériques.</small></b>  <a href="javascript:void();" id="show_randomize_zone" class="btn btn-sacado add_more_question"> ici</a>
            <a href="javascript:void();" {% if supportfile and supportfile.supportvariables.count %} id="new_itemize"{% else %} id="new_item" {% endif %} class="btn btn-sacado add_more_question" >+ variable</a>

            {% include 'qcm/qtype/_declaration_variable.html' %}
        </li>
        <li class="sanspuce">           
            <small><b>2. Utiliser les variables dans les champs.</small> </b><small>Encadrer les variables par des accolades : <span class="formula_answer">${a}$</span></small>
        </li>
        <li class="sanspuce"> 
            <small><b>3.  Inclure une formule.</small></b>   <small>Utiliser les délimiteurs <img src="{% static 'img/latex.png' %}" height='30px'/> simple dollar <span class="formula_answer">$</span>.</small>
        </li>
        <li class="sanspuce">            
            <small><b>4. Calculer avec les variables.</small> </b><small>Encadrer les calculs par <span class="formula_answer">?!</span> 
            <br/><span class="formula_answer">$?!{a}+{b}?!$</span> calcule la somme des valeurs prises aléatoirement par a et b. 
            <br/>Si a=2 et b=3, <span class="formula_answer">${a}+{b} = ?!{a}+{b}?!$</span> affiche 2+3=5 </small>
        </li>
    </div>
    {% endif %}
    <div id="inclusion" class="tab-pane fade">
            <li class="sanspuce"  style="line-height: 1.5em">
                <small><b>1. Insérer un champs dans l'énoncé.</b> 
                Utiliser 
                <span class="formula">\input[name][3em]{valeur par défaut}</span> 
                pour placer le champ à compléter et les délimiteurs <img src="{% static 'img/latex.png' %}" height='30px'/> simple dollar $. <br/>
                <span class="formula">$\frac{\input[num][3em]{}}{\input[deno][3em]{2}}$</span> 
                affiche :  <img src="{% static 'img/formula.png' %}" height='50px'/> et utilise les 2 variables <span class="formula_answer">num</span> et <span class="formula_answer">deno</span>.
                </small>
            </li>
            <li class="sanspuce"  style="line-height: 1.5em">
                <small><b>2. Préparer la validation.</b>
                
                Ecrire la variable dans le champs "Ecrire la question" et la réponse attendue dans le champs "Ecrire la réponse attendue".
                </small>
            </li>
            <li class="sanspuce"  style="line-height: 1.5em">                
                <small><b>3. Exemple.</b>
                
                Dans notre exemple, si on attend un numérateur égal à 3 et un dénominateur égal à 2, on écrit dans le champs "Ecrire la question" <span class="formula_answer">num</span> et  dans le champs "Ecrire la réponse" <span class="formula_answer">3</span>. <br/>
 
                On doit déclarer la variable <span class="formula_answer">deno</span> en cliquant sur "Ajouter un couple Question/réponse". <br/>
 
                On écrit dans le champs "Ecrire la question" <span class="formula_answer">deno</span> et  dans le champs "Ecrire la réponse" <span  class="formula_answer">2</span>.
                </small>
            </li>
            <li class="sanspuce"  style="line-height: 1.5em">                
                <small><b>4. Calculer.</b>
                Si la variable <span class="formula_answer">num</span> est le résultat du calcul des variables numériques aléatoires <span class="formula_answer">a</span> et <span class="formula_answer">b</span>, 
                écrire dans "Ecrire la question" <span class="formula_answer">num</span> dans "Ecrire la réponse" <span class="formula_answer">$?!{a}+{b}?!$</span> 
                </small>
            </li>
    </div>
    <div id="conf" class="tab-pane fade {% if not qt.is_alea and not qt.is_pseudo %}in active{% endif %}">
        <table class="table table-sacado borderless form_card">
            {% if qtype == 9 %}
            <tr>
                <td>
                   <label>Gestion des trous </label>  
                </td>
                <td>{{ form.is_written |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Mots à écrire"|attr:"data-off:Mots à placer"|attr:"data-width:130px"}}</td>
                <td>{{ form.is_written.errors }}</td>
            </tr>
            {% endif %}
            {% if request.user.is_superuser %}
                <tr>
                    <td>
                        <label>Mutualisé ?</label>  
                    </td>
                    <td>{{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                    <td>{{ form.is_share.errors }}</td>
                </tr>
            {% endif %}
            {% if qtype  < 7 or qtype == 20 or qtype == 19 %}
            <tr>
                <td>
                   <label>Calculatrice ?</label>  
                </td>
                <td>{{ form.calculator |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                <td>{{ form.calculator.errors }}</td>
            </tr>
            {% endif %}
            <tr>
                <td> 
                    <label>{{ form.is_paper.label_tag }}</label> 
                </td>
                <td width="100px">{{ form.is_paper  |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                <td>{{ form.is_paper.errors }}</td>
            </tr>
            <tr>
                <td> 
                    <label>{{ form.duration.label_tag }}</label> 
                </td>
                <td width="100px">{{ form.duration |add_class:"form-control" }} </td>
                <td>minutes {{ form.duration.errors }}</td>
            </tr>
        </table>

        {% comment %}
        {{ form.imagefile.label_tag }}
        <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
            <div class="helper_tip_text">La vignette d'accueil propose un visuel de votre exercice. Sans vignette de votre part, SACADO associe une vignette transparente.</div>
        </span>
        {% if request.user.is_superuser %}  
            {% if supportfile.imagefile  %}
                <img src="{{ supportfile.imagefile.url }}" width ="250px" />
            {% endif %}
            {{ form.imagefile |add_class:"btn btn-default"|attr:"style:width:250px" }}
            {{ form.imagefile.errors }}
            <font style="font-size:12px;color:#c70000">Largeur : 750px - hauteur : 550px.</font>        
        {% endif %}
        {% endcomment %}
    </div>
    <div id="situations" class="tab-pane fade">
        <li class="sanspuce">  
            <small>Vous pouvez déterminer le nombre de situations qui seront proposées aux élèves.  
                   <span id="situation_student"><br/>Si vous utilisez des variables numériques aléatoires, 5 situations par défaut sont proposées.
  
                    {% if qt.is_pseudo  %}                   
                    <br/><br/><b>Exemple de lien avec le pseudo aléatoire.</b> <br/>
                    Vous enregistrez 10 items, dont 5 items pseudo aléatoires et 4 situations. L'ordinateur lancera 4 situations et dans chacune d'elle, il tirera aléatoirement 5 items parmi les 10. 
                    {% endif %} </span> 
                <br/><br/>
                <label>Nombre de situations proposées  {{ form.situation }}</label>
            </small> 
        </li>
    </div>
</div>  







 
