<div class="col-sm-12 col-md-12 alert alert-warning no_visu_on_load" id="alert_variable" style="z-index:0">
    <div class="row">  
        <div class="col-sm-12 col-md-12">           
            <b>1. <small>Déclarer les variables.</small>  </b><i class="bi bi-arrow-right"></i>
        </div>     
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-12">           
            <b>2. <small>Utiliser les variables.</small> </b><small>Encadrer les variables par des accolades. <b>Exemple :</b> {a}</small>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">           
            <b>3. <small>Calculer avec les variables.</small> </b><small>Encadrer les calculs par ?! <b>Exemple :</b> ?! {a} + {b} ?! calcule la somme des valeurs prises aléatoirement par a et b.</small>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">           
            <b>4. <small>Déterminer le nombres de situations proposées.</small> </b><i class="bi bi-arrow-down"></i> 
        </div>  
    </div>
</div>