{% load item_tags %}	
{% load static %}

<div class="wrapper_this_slider">  	
<!-- Wrapper for slides -->
    <div class="this_slider">
        <ul>
        <!------------------------------ Slides de type d'exercice --------------------------------------------->	
 
		{% elif supportfile.qtype == 6 %}

			<label>Eléments</label>
			<div class="quizz_item select_items">
				{% for subchoice in subchoices %}
					<span class="quizz_choice draggable" style="cursor: move;" data-subchoice="{{ subchoice.id }}">
						{% if subchoice.imageanswer  %}<img src="{{ subchoice.imageanswer.url }}" height="80px" />{% endif %} {{  subchoice.answer }}
					</span>
				{% endfor %}
			</div>	
			<label>avec les thèmes	</label>
			<div class="dropzone">
			{% for supportfile in supportfile.supportchoices.all %}
			<div class="quizz_item droppable" data-choice="{{ customchoice.id }}" >
				<span class="quizz_choice">{% if customchoice.imageanswer  %}<img src="{{ customchoice.imageanswer.url }}" height="80px" />{% endif %} {{  customchoice.answer }}</span>
				<input type="hidden" name="answers" value="{{ customchoice.id }}=" />
			</div>
			{% endfor %}
			</div>

		{% elif supportfile.qtype == 7 %}
			
		 
			<div class="row" style="margin-top:20px"> 
				<div class="col-sm-12 col-md-12" >
					Vous devez trouver {{ choices|length }} mots donc les anagrammes sont ci-dessous. 	
				</div>
			</div>

			{% for choice in choices %}
			<div class="row"> 
				<div class="col-sm-6 col-md-4" align='right'>
				<h2>{{ choice.word }} <i class="fa fa-caret-right"></i>	</h2>
				</div>
				<div class="col-sm-6 col-md-8" align='left'>
					<h2><input type="text" name="answer{{ choice.id }}" class="answer_box"   /> </h2>
				</div>
			</div>
			{% endfor %}

		{% elif supportfile.qtype == 8 %}

			<label>Eléments</label>
			<div class="quizz_item select_items">
				{% for choice in shufflechoices %}
					<span class="quizz_choice draggable" style="cursor: move;" data-subchoice="{{ choice.id }}" >
						{% if choice.imageanswer  %}<img src="{{ choice.imageanswer.url }}" height="80px" />{% endif %} {{  choice.answer }}
					</span>
				{% endfor %}
			</div>	
			<label>Classement	</label>
			<div class="dropzone">
				<div class="quizz_item droppable" style="min-height:50px" >
					<input type="hidden" name="answers" value="" />
				</div>
			</div>

		{% elif supportfile.qtype == 9 %}
		 

			<label>Mots à placer</label>
			<div class="quizz_item select_items">
				{% for word in words %}
					<span class="word_choice word_draggable" style="cursor: move;" data-word="{{ word }}" >
						{{  word }}
					</span>
				{% endfor %}
			</div>	

			<div class="quizz_item answer_area dropzone">
				 {{ supportfile.filltheblanks|insert_input|safe }}
			</div>

		{% elif customexercise.qtype == 10 %}

		 
			{% for puzzle in shufflechoices %}
			<div class="row">
				<div class="col-sm-5">
					{% for choice in puzzle.shufflesubchoices %}
					<span class="draggable" style="cursor: move;" data-subchoice="{{ choice.id }}" >
						<img src="{{ choice.imageanswer.url }}" height="100px" width="100px" />
					</span>
					{% endfor %}
				</div>
				<div class="col-sm-7" align="center">
					<table class="dropzone puzzle">
					{% with range=''|center:puzzle.customchoice.answerbis %}
					{% for _ in range %}
							<tr>
								{% with rang=''|center:puzzle.customchoice.answer  %}
								{% for _ in rang %}
									<td class="droppable"></td>
								{% endfor %}
								{% endwith %}
							</tr>
					{% endfor %}
					{% endwith %}
					</table>
				</div>
			</div>
			{% endfor %}
		 
		{% elif supportfile.qtype == 11 %}

			<div class="rquiz-crossword" >
			<h2 id="rquiz-crossword">Crossword Quiz</h2>
			<p>Click on a numer in the grid to be given a hint and the possibility to enter a solution!</p>
			</div>

		{% elif supportfile.qtype == 12 %}
			
		    <div class="row">
		        <div class="col-sm-8" align='center'>
		            {{ supportfile.grid|safe }}
		        </div>
		        <div class="col-sm-4"><label>Les mots à trouver :</label>
		            {% for choice in supportfile.customchoices.all %}
		                <li class="sanspuce">{{forloop.counter}}. <span style="font-weight: bold;">{{ choice|upper }}</span> <span id="check{{forloop.counter0 }}"></span></li>
		            	 <input type="hidden" id="word{{forloop.counter0 }}" value="{{ choice|upper }}" class="these_words"  /> 
		            {% endfor %}
		        </div>
		        
		    </div>

		{% elif supportfile.qtype == 13 %}



			<div class="row" style="padding: 10px; font-size:18px"> 
				<div class="col-sm-12 col-sm-6" align='center'>
					<div id="new_word">
					{% for c in secretword.answer %}
						<input class="secret_letter" id="secret_letter{{ forloop.counter0}}" data-word_id="{{ secretword.id }}" data-index="{{ forloop.counter0}}"  />
					{% endfor %}
		 			</div>
					<div id="used_letter" align='left' style="font-weight: bold;color:blue"></div>
					<input id="nb_tries" type="hidden" value="10" />
					<input id="word_id_used" type="hidden"   />
					<input id="position" type="hidden" value="200"  />
					<input id="word_length" type="hidden" value="{{ secretword.answer|length }}"  />
					<input id="word_length_i" type="hidden" value="{{ secretword.answer|length }}"  />
					<input id="shuffle_ids" type="hidden" value="{{ shuffle_ids }}"  />
					<div class="row" id="wordguess-counter" style="margin-top:20px;height:200px;width:166px;background-position: 0 200px;background-image:url({% static 'img/wordguess-counter.png' %})" title="Vous avez 10 essais"> </div>

				</div>	 
				<div class="col-sm-12 col-sm-6" >	
					<label>Vous devez trouver <span id='word_left'>{{ shufflechoices|length }}</span> mots.</label>
					{% for choice in shufflechoices %}
						<li class="sanspuce">{{ forloop.counter }}. <input name="answers" readonly  id="answer{{ forloop.counter }}" class ="answer_box" style="background-color: #FAFAFA" /> </li>
					{% endfor %}
				</div>
			</div>

		{% elif supportfile.qtype == 14 %}
		 
		 		<input id="length" type="hidden" value="{{ length }}"  />
		 		<div class="row">
		 			<div class="col-sm-12">
		 				Vous devez regrouper les cartes mémo par groupe de {{ length }}.
		 			</div>
		 		</div>
				{% for subchoice in subchoices %}
					<div class="scene scene--card">
					      <div class="card" data-id="{{ subchoice.id }}">
					        <div class="memo_card">
					          <img src="{% static 'img/sacado_memo.jpg' %}" width="100px" height="100px" />
					        </div>
					        <div class="memo_card memo_card_back">
					          {% if subchoice.imageanswer  %}<img src="{{ subchoice.imageanswer.url }}" width="100px" height="100px" />{% else %}<br/> {% endif %} {{  subchoice.answer|title }}
					        </div>
					      </div>
					</div>
				{% endfor %}
			 
		{% elif supportfile.qtype == 20 %}
		 
			{% for l in loops %} 

                <li class="this_slide" id="this_slide{{ forloop.counter }}">
				    <div class="row"  align="left" style="margin-top:10px">
				        {% if supportfile.annoncement %}
				            <div class="col-sm-12 col-lg-12 custom_content" 
				                 style="max-height:80px">{{ supportfile.annoncement|safe }}
				            </div>
				        {% endif %}
				    </div>  
				    <div class="row" align="left" style="margin:20px 0px;">
				        <div class="col-sm-12 col-lg-12 custom_all_answers"  style="max-height:300px;padding:10px">        
				            
							{% for choice in shufflechoices %}
							<div class="row quizz_item" style="padding: 10px; font-size:18px;"> 
								<div class="col-sm-11 proposition" align='left'>
								{% if choice.imageanswer  %}<img src="{{ choice.imageanswer.url }}" height="80px" />{% endif %} {{ choice.answer  }} 
								</div>  	 
								<div class="col-sm-1" align='left'>
									<input type="{% if customexercise.qtype == 3  %}radio{% else %}checkbox{% endif %}" 
											name="answers" value="{{ choice.id }}" data-customexercise_id="{{ customexercise.id }}" 
											data-loop="{{ forloop.parentloop.counter }}"
											class="selected_answer"  />
								</div>
							</div>
							{% endfor %}            
				        </div>
				    </div>
				    <div class="row">
				    	<div class="col-sm-12 col-md-3" align="center"  >
				            <a href="#" data-toggle='modal' data-target='#this_qcm_correction' class="btn btn-primary show_this_qcm_correction" id="nav_start{{ forloop.counter }}"><i class="fa fa-caret-right"></i> Valider </a>
				        </div>
				    </div>	
                </li> 
            {% endfor %}
	
		{% endif %}

			<!------------------------------ Slide de fin --------------------------------------------->
			{% if supportfile.qtype < 5 %}
        	<li class="this_slide">
        		<div align="center" style="padding:30px;">

        				Tu as fini toutes les situations. Enregistre tes résultats.

        				<img src="{% static 'img/finish.jpg' %}" />

                  {% if request.user.is_student %}
                    <div class="col-sm-12 col-md-12" align="left" style="margin:10px 60px">
               

                          {% get_is_lock relation.parcours today as is_lock %} 
                          {% get_is_locker relation student as is_locker %} 
                          {% if is_lock %}
                          
                              {% if is_locker %}
                                <div class="alert alert-danger" >
                                  <b>Cet exercice est verrouillé. Vous ne pouvez plus soumettre le résultat.</b>
                                </div>
                              {% else %} 
                                  {% include 'qcm/is_evaluation.html' %}
                              {% endif %}
                          {% else %}  
                              {% if available.is_ok %} 
                                  {% include 'qcm/is_evaluation.html' %}
                              {% else %}
                                <div class="alert alert-danger" >
                                  <b>Vous avez atteint la limite des tentatives. Vous ne pouvez plus soumettre le résultat.</b>
                                </div>
                              {% endif %}
                          {% endif %}
                    </div>
                  {% elif request.user.is_teacher %}

        				Tu as fini toutes les situations. Enregistre tes résultats.

        				<img src="{% static 'img/finish.jpg' %}" />

	                    <div class="col-sm-12 col-md-12" align="left" style="margin:10px 60px">
	                    	{% if supportfile.supportvariables.count %}
	               			<a href="javascript:window.close();" class="btn btn-default">Fin </a>
	                    	{% else %}
	               			<a href="javascript:history.back()" class="btn btn-default">Retour</a>
	                    	{% endif %}
	                    </div>
                  {% endif %}
                </div>
        	</li>
        	{% endif %}
        
        </ul>
    </div>
</div>

<!------------------------------ popup de correction et de suivant ---------------------------------------->

{% comment %}
<div class="modal fade" id="this_qcm_correction" tabindex="-1" role="dialog" aria-labelledby="this_qcm_correction">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
        	{% if not supportfile.correction %}
            <div class="modal-header">
                <h2 class='sacado'  >Correction</h2>
            </div>
            <div class="modal-body">
                <p id='message_correction'   ></p>

 				<div id="this_correction_text"></div>
 				<hr/>
 				<a href="#"  class="btn btn-primary nav_start" data-dismiss="modal" aria-label="Close"><i class="fa fa-caret-right"></i> Suivant</a>
            </div>
			{% else %}
            <div class="modal-body">
 				<a href="#"  class="btn btn-primary nav_start" data-dismiss="modal" aria-label="Close"><i class="fa fa-caret-right"></i> Suivant</a>
            </div>
			{% endif %}
        </div>
    </div>
</div>
{% endcomment %}


<!------------------------------ Inputs à transmettre ---------------------------------------->
<input id="relation" name="relation_id"  type="hidden" value="{{ relation.id }}"/>
<input id="start_time" name="start_time"  type="hidden" value="{{ start_time }}"/>
<input id="score"  name="score"  type="hidden" value=0  />
{% if supportfile.qtype == 14 %}  
<input id="numexo" name="numexo" type="hidden" value=-1  />
{% else %}
<input id="numexo" name="numexo"  type="hidden" value=0  />
{% endif %}
<input id="situation" name="situation"  type="hidden" value="{{ relation.situation }}"/> 
<input id="parcours_id" name="parcours_id"  type="hidden" value="{{ relation.parcours.id }}"/>
<!-------------------------------------------------------------------------------------------->
 

