{% load widget_tweaks %}
{% load static %}
{% load item_tags %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px;">
            <div class="form-group">
                <label>Titre </label>
                {{ form.title|add_class:"form-control"   }}
                {{ form.title.errors }}
            </div>
            <label>Enoncé :</label>
            {{ form.instruction |add_class:"form-control"|attr:"rows:3" }}
            {{ form.instruction.errors }}<br/>
            <img src="{% static 'img/tex.png' %}" height="15px"/> <small>Pour inclure une formule, utiliser les délimiteurs dollar $ et pour une figure, utiliser TiKZ</small>
        </div>                                                    
    </div>
 
    <div class="col-sm-12 col-md-6">
        <div class="row" style="margin-top:20px">    
            <div class="col-sm-12 col-md-12">
                {% include 'modes.html' %}
            </div>
        </div>

 
        <div class="row"> 
            <div class="col-sm-12 col-md-6 no_visu" style="margin-top:20px">
                {% include 'qcm/qtype/0_config_middle.html' %}
            </div>
            <div class="col-sm-12 col-md-6 no_visu" style="margin-top:20px">
                {% include 'qcm/qtype/0_config_right.html' %}
            </div>
        </div>
    </div>       
</div>




<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-5 col-md-3"> <label>Les puzzles</label>
                    <a href="javascript:void();" id="show_pseudorandomize_zone" class="btn btn-sacado">
                        <label>  pseudo-aléatoire ? <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                                                <div class="helper_tip_text" >
                                                                    Nombre de choix de réponses <br/>
                                                                    proposées parmi les réponses<br/> 
                                                                    enregistrées. Ex : Si vous<br/> 
                                                                    enregistrez 20 réponses<br/>
                                                                    possibles et que vous<br/>
                                                                    inscrivez 5, 5 réponses<br/> 
                                                                    seront aléatoirement choisies<br/>
                                                                    parmi les 20. <br/>
                                                                    Dans le cas d'un QCM/QCS,<br/> au moins une sera valide.</div>
                                                            </span>
                        </label>
                    </a>
                </div>
                <div class="col-sm-7 col-md-9">
                    <span class="row no_visu_on_load btn-sacado" id="pseudorandomize_zone">
                        {{ form.pseudoalea_nb }} <label>puzzles à proposer parmi les <span id="nb_pseudo_aleatoire">1</span> enregistrés ci-dessous. Si 0, les puzzles sont toutes proposés.</label>
                    </span>                                    
                </div>
            </div>  
            <script id="rowToClone" type="text/template">
                <div id="duplicate">
                    <div class="col-sm-12">
                        <div class="row quizz_line_answer quizz_box_answer multiple_quizz_box_answer quizz_box_answer_left" > 
                            <div class="row">
                                <div class="col-sm-4 get_image"  align="center" id="imager"> 
                                    <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-image"></i>
                                    {{ form_ans.empty_form.imageanswer|add_class:"choose_imageanswer" }}
                                    <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" height="100px" 
                                         class="choose_imageanswer preview" id="preview"> 
                                </div>
                                <div class="col-sm-1 col-md-1" > 
                                    <a href="javascript:void()" id="delete_img" class="preview delete_img"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="col-sm-2"><label>Nbre de pièces en largeur :</label>
                                    {{ form_ans.empty_form.answer|attr:"placeholder: 3"|add_class:"quizz_font30 multiple_quizz_box_answer"  }}
                                </div>
                                <div class="col-sm-2"><label>Nbre de pièces en hauteur :</label>
                                    {{ form_ans.empty_form.answerbis|attr:"placeholder: 2"|add_class:"quizz_font30 multiple_quizz_box_answer"  }}
                                </div> 
                            </div>  
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <a href="javascript:void()" class="automatic_insertion"   id="feed_back"><i class="bi bi-arrow-return-right"></i> Afficher un feedback si cette réponse est choisie. </a>
                                    <div id="div_feed_back" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                    {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire le feedback" }}
                                    </div>
                                </div>
                            </div>      

                        </div>
                    </div>
                </div>
            </script> 
             
            
                {{ form_ans.management_form }}
                <div id="formsetZone">
                <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />
                <p class="text-danger">L'image à reconstituer doit avoir des dimensions multiples de 100. ( 600x500  produit 30 pièces )</p>
                {% for form in form_ans %} 
                    {{ form.id }}
                    <div class="col-sm-12">
                        <div class="row quizz_line_answer quizz_box_answer multiple_quizz_box_answer quizz_box_answer_left" >  
                            <div class="row">
                                <div class="col-sm-4 get_image"  align="center" id="imager"> 
                                    <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-image"></i>
                                    {{ form.imageanswer|add_class:"choose_imageanswer" }}
                                    <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" height="100px" 
                                         class="choose_imageanswer preview" id="preview"> 
                                </div>
                                <div class="col-sm-1 col-md-1" > 
                                    <a href="javascript:void()" id="delete_img" class="preview delete_img"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="col-sm-2"><label>Nbre de pièces en largeur :</label>
                                    {{ form.answer|attr:"placeholder: 3"|add_class:"quizz_font30 multiple_quizz_box_answer"  }}
                                </div>
                                <div class="col-sm-2"><label>Nbre de pièces en hauteur :</label>
                                    {{ form.answerbis|attr:"placeholder: 2"|add_class:"quizz_font30 multiple_quizz_box_answer"  }}
                                </div> 
                            </div>          
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Afficher un feedback si cette réponse est choisie. </a>
                                    <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                    {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire le feedback" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>





                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void();"  class="add_more btn btn-sacado" ><i class="bi bi-plus-circle"></i> Ajouter un  puzzle </a><br/><br/>
                    </div>                            
                </div>
        </div>     
    </div>       
</div>





{% if not form_template %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>  
<script>
    $("#id_title").val("Retrouve l'image proposée.");
    CKEDITOR.replace('instruction', {
            height: '200px',
            width : '700px',
            toolbar:    
                [  
                    { name: 'clipboard',  items: [ 'Source', '-','Copy', 'Paste', 'PasteText' ] },
                    { name: 'paragraph',  items: [ 'NumberedList', 'BulletedList', '-',   'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] }, 
                    { name: 'basicstyles',  items: [ 'Bold', 'Italic', 'Underline',  ] },
                    { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar','Iframe']},
                ] ,
        });


        $(document).on('click', '.add_more_question', function (event) { 

                var total_form = $('#id_customvariables-TOTAL_FORMS') ;
                var totalForms = parseInt(total_form.val())  ;

                var thisClone = $('#rowToClone_question');
                rowToClone = thisClone.html() ;

                console.log(totalForms) ; 

                $('#formsetZone_variables').append(rowToClone);

                $('#duplicate_variables').attr("id","duplicate_variables"+totalForms) 
                //$('#cloningZone').attr("id","cloningZone"+totalForms) 

                $('#duplicate_variables'+totalForms).find('.delete_button_question').html('<a href="javascript:void(0)" class="btn btn-danger remove_more_question" ><i class="fa fa-trash"></i></a>'); 
                $('#duplicate_variables'+totalForms).find("input[type='checkbox']").bootstrapToggle();

                $("#duplicate_variables"+totalForms+" input").each(function(){ 
                    $(this).attr('id',$(this).attr('id').replace('__prefix__',totalForms));
                    $(this).attr('name',$(this).attr('name').replace('__prefix__',totalForms));
                });
                total_form.val(totalForms+1);

            });


        $(document).on('click', '.remove_more_question', function () {
            var total_form = $('#id_customvariables-TOTAL_FORMS') ;
            var totalForms = parseInt(total_form.val())-1  ;

            $('#duplicate_variables'+totalForms).remove();
            total_form.val(totalForms)
        });



        $(document).on('click', '.add_more', function (event) { 

                var total_form = $('#id_customchoices-TOTAL_FORMS') ;
                var totalForms = parseInt(total_form.val())  ;

                var thisClone = $('#rowToClone');
                rowToClone = thisClone.html() ;

                console.log(totalForms) ; 

                $('#formsetZone').append(rowToClone);

                $('#duplicate').attr("id","duplicate"+totalForms) 
                //$('#cloningZone').attr("id","cloningZone"+totalForms) 

                $('#imager').attr("id","imager"+totalForms) ;
                $('#file-image').attr("id","file-image"+totalForms) ;
                $('#feed_back').attr("id","feed_back"+totalForms)  ;       
                $('#div_feed_back').attr("id","div_feed_back"+totalForms)  ;
                $('#delete_img').attr("id","delete_img"+totalForms)  ;

                $('#duplicate'+totalForms).find('.delete_button').html('<a href="javascript:void(0)" class="btn btn-danger remove_more" ><i class="fa fa-trash"></i></a>'); 
                $('#duplicate'+totalForms).find("input[type='checkbox']").bootstrapToggle();

                $("#duplicate"+totalForms+" input").each(function(){ 
                    $(this).attr('id',$(this).attr('id').replace('__prefix__',totalForms));
                    $(this).attr('name',$(this).attr('name').replace('__prefix__',totalForms));
                });

                $("#duplicate"+totalForms+" textarea").each(function(){ 
                    $(this).attr('id',$(this).attr('id').replace('__prefix__',totalForms));
                    $(this).attr('name',$(this).attr('name').replace('__prefix__',totalForms));
                });

                $('#imagerbis').attr("id","imagerbis"+totalForms) ; 
                $('#file-imagebis').attr("id","file-imagebis"+totalForms) ;
                $('#previewbis').attr("id","previewbis"+totalForms) ;
                $('#delete_imgbis').attr("id","delete_imgbis"+totalForms)  ;

                $('#spanner').attr("id","spanner"+totalForms) ;
                $('#preview').attr("id","preview"+totalForms) ;
                total_form.val(totalForms+1);


            });



        $(document).on('click', '.remove_more', function () {
            var total_form = $('#id_customchoices-TOTAL_FORMS') ;
            var totalForms = parseInt(total_form.val())-1  ;

            $('#duplicate'+totalForms).remove();
            total_form.val(totalForms)
        });




        //*************************************************************************************************************  
        // Gestion des images des thèmes
        //************************************************************************************************************* 

        $('body').on('change', '.choose_imageanswer' , function (event) {
            var suffix = this.id.match(/\d+/); 
            previewFile(suffix,"") ;
         });  


        $('body').on('click', '.delete_img' , function (event) { 
                var suffix = this.id.match(/\d+/); 
                noPreviewFile(suffix,"") ;
                $(this).remove(); 
            });  


        $('body').on('change', '.choose_imageanswerbis' , function (event) {
            var suffix = this.id.match(/\d+/); 
            previewFile(suffix,"bis") ;
         });  


        $('body').on('click', '.delete_imgbis' , function (event) { 
                var suffix = this.id.match(/\d+/); 
                noPreviewFile(suffix,"bis") ;
                $(this).remove(); 
            }); 

        function noPreviewFile(nb,suf) {  
            $("#id_customchoices-"+nb+"-imageanswer"+suf).attr("src", "" );
            $("#preview"+suf+nb).val("") ;  
            $("#file-image"+suf+nb).removeClass("preview") ;
            $("#preview"+suf+nb).addClass("preview") ; 
            $("#id_customchoices"+nb+"-imageanswer"+suf).removeClass("preview") ;
            $("#id_customchoices-"+nb+"-answer"+suf).removeClass("preview") ;
            $("#imager"+suf+nb).addClass("col-sm-2 col-md-1").removeClass("col-sm-4 col-md-3");
            $("#imager"+suf+nb).next().addClass("col-sm-10 col-md-11").removeClass("col-sm-8 col-md-9");
          }

        function previewFile(nb,suf) {

            const preview = $('#preview'+suf+nb);
            const file = $('#id_customchoices-'+nb+'-imageanswer'+suf)[0].files[0];
            const reader = new FileReader();
            $("#file-image"+suf+nb).addClass("preview") ;
            $("#preview"+suf+nb).val("") ;  
            $("#id_customchoices-"+nb+"-answer"+suf).addClass("preview") ;
            $("#preview"+suf+nb).removeClass("preview") ; 
            $("#delete_img"+suf+nb).removeClass("preview") ; 
            $("#imager"+suf+nb).removeClass("col-sm-2 col-md-1").addClass("col-sm-4 col-md-3");
            $("#imager"+suf+nb).next().removeClass("col-sm-10 col-md-11").addClass("col-sm-8 col-md-9");
            reader.addEventListener("load", function (e) {
                                                var image = e.target.result ; 
                                                $("#preview"+suf+nb).attr("src", image );
                                            }) ;

            if (file) { reader.readAsDataURL(file);}            

          }



        //*************************************************************************************************************  
        // FIN DE gestion
        //************************************************************************************************************* 



        // Chargement d'une image dans la réponse possible.
        $('body').on('click', '.automatic_insertion' , function (event) {  
 
            var feed_back = $(this).attr('id');
            $("#div_"+feed_back).toggle(500);

         });


    $('.no_visu').hide();
    $('[type=checkbox]').prop('checked', false);            
    $('#selector_student').prop('checked', true);
    $('.selected_student').prop('checked', true);
    $('#id_is_publish').prop('checked', true);
    $('#id_is_ggbfile').prop('checked', true); 
    $('#on_mark').hide(); 
    $("#publication_div").hide(); 
    $('body').find("input[type='checkbox']").bootstrapToggle();
    // Gère l'affichage de la div des notes.
    if ($("#id_is_mark").is(":checked")) {$("#on_mark").show();} else { $("#on_mark").hide(); } 

    clickDivAppear( "#show_latex_formula" , $("#latex_formula"));
 

    function clickDivAppear(toggle, $item) {
        $(document).on('click', toggle , function () {
                    $(".no_display").hide();        
                    $item.toggle(500);
            });
        }

    $(document).on('click', "#support_audio_image" , function () {
                    $(".no_display").hide();
                    $("#drop_zone_image").toggle(500);
                    $("#audio_div").toggle(500);            
                });


    makeDivDisappear( "#id_is_publish" , $("#publication_div"));
    makeDivAppear( "#id_is_mark" , $("#on_mark"));
    function makeDivAppear(toggle, $item) {
        $(document).on('change', toggle , function () {
                if ($(toggle).is(":checked")) {
                    $item.show(500);
                } else {
                    $item.hide(500);
                }
            });
        }
    function makeDivDisappear(toggle, $item) {
        $(document).on('change', toggle , function () {
                if ($(toggle).is(":checked")) {
                    $item.hide(500);
                } else {
                    $item.show(500);
                }
            });
        }

    $('.datetimepicker').datetimepicker({
            language: "fr",
            todayHighlight: true,
            format: "yyyy-mm-dd hh:ii"
         });

</script>   

{% endif %}

                
 