{% extends 'qcm/form_supportfile.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body_qtype %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px;">
                <label>Titre </label>
                {{ form.title|add_class:"form-control"|attr:"value:Vrai ou Faux ?"   }}
                {{ form.title.errors }}
            <div class="form-group">     
                <label>Enoncé </label><br/>
                {{ form.annoncement |add_class:"form-control"|attr:"rows:3" }}
                {{ form.annoncement.errors }}
             </div>           
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px">    
            {% include 'qcm/qtype/0_config_middle.html' %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <span class="btn btn-sacado_active">Les propositions</span>
            <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />
            {{ form_ans.management_form }}
            <div id="formsetZone">
                {% for form in form_ans %} 
                    {{ form.id }}
                    <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
                        <div class="col-sm-12 ">
                            <div class="row answer_box_light_purple">
                                <div class="col-sm-2 col-md-2 get_image"  align="center" id="imager{{ forloop.counter0 }}"> 
 
                                    <svg width="60" height="40" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-image{{ forloop.counter0 }}">
                                      <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                      <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                    </svg>

                                    {{ form.imageanswer|add_class:"choose_imageanswer" }}
                                    <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" width="150px" 
                                         class="choose_imageanswer preview" id="preview{{ forloop.counter0 }}"> 
                                </div>
                                <div class="col-sm-1" > </div>
                                <div class="col-sm-7 col-md-7 answer_box_no_border quizz_box_answer_small" > 
                                    {{ form.answer|attr:"placeholder:Ajouter du texte"|add_class:"quizz_font30 quizz_answer"  }}
                                </div>
                                <div class="col-sm-2 col-md-2" align="center"> <br/> 
                                    {{ form.is_correct|add_class:"checker"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:VRAI"|attr:"data-off:FAUX"}}  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction </a>
                                    <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                    {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if supportfile and supportfile.supportvariables.count %}
                <div class="row">                       
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void();"  class="add_more btn btn-sacado_active" ><i class="bi bi-plus-circle"></i> Ajouter une proposition </a><br/><br/>
                    </div>                            
                </div>
            {% endif %}
        </div>

        <div class="form_card" style="margin-top:20px;">
            {% include 'qcm/qtype/_content_correction.html' %} 
        </div>                                             
    </div>     
</div>
  
<script id="rowToClone" type="text/template">
    <div id="duplicate"> 
        <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" > 
            <div class="col-sm-12">
                <div class="row answer_box_light_purple">
                    <div class="col-sm-2 col-md-2 get_image"  align="center" id="imager"> 
                        <svg width="60" height="40" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-image{{ forloop.counter0 }}">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                        {{ form_ans.empty_form.imageanswer|add_class:"choose_imageanswer" }}
                        <img width="150px" class="choose_imageanswer preview" id="preview"> 
                    </div>
                    <div class="col-sm-1" > 

                    </div>
                    <div class="col-sm-7 col-md-7 answer_box_no_border quizz_box_answer_small" > 
                        {{ form_ans.empty_form.answer|attr:"placeholder:Ajouter du texte"|add_class:"quizz_font30 quizz_answer"  }}
                    </div>
                    <div class="col-sm-2 col-md-2" align="center"> <br/> 
                        {{ form_ans.empty_form.is_correct|add_class:"checker"|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:VRAI"|attr:"data-off:FAUX"}} 
                        <span class="remove_more btn btn-danger pull-right"><i class="bi bi-trash"></i> </span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void()" class="automatic_insertion"   id="feed_back"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction</a>
                        <div id="div_feed_back" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                        {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

{% endblock %} 