{% load static %}
<li  class='dropdown'>
    <a href="#" class="righter" id="mobile_version_button_closer">
        <i class="fa fa-times closer_tab"></i>
    </a>
 
 
    <a href="{% url 'logout' %}"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>
        <div class="captionmenu sacado_menu">
         SACADO
        </div>
    </a>
 
</li>

 
 
<li class="dropdown {% if  request.session.tdb == 'Account' %}active{% endif %}">
    <a href="#" class="main" id="account">
    {% if request.user.avatar and sacado_asso  %}
        <img src="{{ request.user.avatar  }}" class="avatar" />
        <div class="captionmenu">{{ request.user.first_name }}</div>
    {% else %} 
        <i class="bi bi-person-circle icon_size"></i> 
        <div class="captionmenu">Mon compte</div>
    {% endif %} 
    </a>    
</li>

<li class="dropdown {% if  request.session.tdb == 'Groups' %}active{% endif %}">
    <a href="{% url 'index' %}" class="main" >

        <i class="bi bi-grid icon_size"></i> 
        <div class="captionmenu">Tableau de bord</div>

    </a>
</li>


{% if request.user.student.level.id < 7 or request.user.student.level.id == 14 %}
<li class="dropdown {% if  request.session.tdb == 'tools' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'student_tools' %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-tools icon_size"></i> 
        <div class="captionmenu">Outils</div>
    </a>
</li>
{% endif %}


<li class="dropdown {% if  request.session.tdb == 'training' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'dash_student' %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-graph-up-arrow icon_size"></i> 
        <div class="captionmenu">{% if student.nb_subjects > 2 %}Matières{% else %}Entrainement{% endif %}</div>
    </a>
</li>
 


<li  class="dropdown {% if  request.session.tdb == 'account' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'detail_student_all_views' user.id %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-clipboard-data icon_size"></i>
        <div class="captionmenu">Suivis</div>
    </a>
</li>


<li  class="dropdown {% if  request.session.tdb == 'prep_eval' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'prep_eval' user.id %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-calendar-week icon_size"></i>
        <div class="captionmenu">Prép' Éval</div>
    </a>
</li>


<li  class="dropdown {% if  request.session.tdb == 'Flashpack' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'flashpacks' %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-layers icon_size"></i> 
        <div class="captionmenu">Flashcards</div>
    </a>
</li> 

{% if request.user.is_in_academy and request.user.student.data_menu.id > 1 %}
<li class="dropdown {% if  request.session.tdb == 'Lesson' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'detail_student_lesson' request.user.id %}{% else %}{% url 'end_of_adhesion'  %}{% endif %}" class="main" >
        <i class="bi bi-camera-video icon_size"></i> 
        <div class="captionmenu">Visios</div>
    </a>
</li>
{% endif %}
{% comment %} 
{% if request.user.is_in_academy %}   
<li  class="dropdown {% if  request.session.tdb == 'Auto_test' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'autotests' %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-question-circle icon_size"></i> 
        <div class="captionmenu">Auto-test</div>
    </a>
</li> 
{% endif %}  
{% endcomment %}  


{% if request.user.is_in_academy and request.user.student.data_menu.id > 1 %}
<li class="dropdown {% if  request.session.tdb == 'Message' %}active{% endif %}">
    <a href="{% if sacado_asso %}{% url 'list_discussion_lesson' request.user.id %}{% else %}{% url 'end_of_adhesion' %}{% endif %}" class="main" >
        <i class="bi bi-envelope icon_size"></i> 
        <div class="captionmenu">Messages</div>
    </a>
</li>
{% endif %}

 