{% load static %}
<li  class='dropdown'>
    <a href="#" class="righter" id="mobile_version_button_closer">
        <i class="fa fa-times closer_tab"></i>
    </a>
 
 
    <a href="{% url 'logout' %}"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>
        <div class="captionmenu sacado_menu">
         ACADÉMIE
        </div>
    </a>
 </li>

<li class="dropdown 
{% if '/myaccount' in request.path %}
active
{% endif %} 
">
    <a href="#"  id="account" class="main" >
    {% if request.user.avatar   %}
        <img src="{{ request.user.avatar  }}" class="avatar" />
        <div class="captionmenu">{{ request.user.first_name }}</div>
    {% else %} 
        <i class="bi bi-person-circle icon_size"></i> 
        <div class="captionmenu">Compte</div>
    {% endif %} 
    </a>
</li>

<li class='dropdown'>
    <a href="{% url 'index' %}" class="main" >
        <i class="bi bi-speedometer2 icon_size"></i> 
        <div class="captionmenu">Tableau de bord</div>
    </a>
</li>
 

<li class='dropdown'>
    <a href="{% url 'adhesions_academy' %}" class="main" >
        <i class="bi bi-badge-ad fa-2x"></i> 
        <div class="captionmenu">Adhésions</div>
    </a>
</li>

{% if request.user.parent.is_lesson %}
<li class='dropdown'>
    <a href="{% url 'detail_student_lesson' 0 %}" class="main" >
        <i class="bi bi-camera-video icon_size"></i> 
        <div class="captionmenu">Leçons</div>
    </a>
</li>
{% endif %}



{% if request.user.is_in_academy %}
<li class='dropdown'>
    <a href="{% url 'contact_academy' %}" class="main" >
        <i class="bi bi-envelope icon_size"></i> 
        <div class="captionmenu">Contact</div>
    </a>
</li>
{% endif %}