{% extends 'qcm/form_supportfile.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block body_qtype %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px;">
                <label>Titre </label>
                {{ form.title|add_class:"form-control"   }}
                {{ form.title.errors }}

            <div class="form-group">
            <label>Enoncé :</label>
            {{ form.annoncement |add_class:"form-control"|attr:"rows:3"|attr:"value:Complèter le texte à trous" }}
            {{ form.annoncement.errors }}<br/>
            </div>

        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px">    
            {% include 'qcm/qtype/0_config_middle.html' %}
        </div>
    </div>     
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <div class="col-sm-12 col-md-12">
                <span class="btn btn-sacado_active">Les anagrammes</span>  
                <label>
                    <span class="label label-sacado">1</span> Écrire un mot ou un texte
                    <span class="label label-sacado" style="margin-left:15px">2</span> Surligner en gras pour créer l'anagramme
                </label>
            </div>
            {{ form_ans.management_form }}
            <div id="formsetZone">
            <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />

            {% for form in form_ans %} 
                {{ form.id }}
                <div class="col-sm-6 ">
                    <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
                        <div class="col-sm-12">
                            <div class="row answer_box_light_purple">
                                <div class="col-sm-12 col-md-12">
                                    {{ form.answer|attr:"required"|add_class:"form-control this_text"  }}
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-12" >
                                <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction </a>
                                <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12 col-md-12" >
                    <a href="javascript:void();"  class="add_more btn btn-sacado" ><i class="bi bi-plus-circle"></i> Ajouter un anagramme </a><br/><br/>
                </div>                            
            </div>
        </div>     
    </div>       
</div>

<div class="row" style="display:none">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            {% include 'qcm/qtype/_content_correction.html' %} 
        </div>   
    </div>       
</div>


<script id="rowToClone" type="text/template">
    <div id="duplicate">                
        <div class="col-sm-6 ">
            <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
                <div class="col-sm-12">
                    <div class="row answer_box_light_purple">
                        <div class="col-sm-11 col-md-11">
                            {{ form_ans.empty_form.answer|attr:"required"|add_class:"form-control this_text"  }}                                    
                        </div>
                        <div class="col-sm-1 col-md-1">                                   
                            <span class="remove_more btn btn-danger pull-right"><i class="bi bi-trash"></i> </span> 
                        </div>
                    </div>   
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction </a>
                        <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                        {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script> 
{% endblock  %}