{% extends 'tool/form_question_positionnement.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

{% block require %}
    {% if question %}
        <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
    {% else %}
        <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>
        <script>
            require(['script/ajax-question_creator_create','script/ajax-finder']);
        </script> 
    {% endif %}
 

    {% if  qtype == 15 or qtype == 18 %}
        <script>
            require(['script/ajax-question_creator_canvas']);
        </script> 
    {% elif qt.is_sub %}
        <script>
            require(['script/ajax-question_creator_sub']);
        </script> 
    {% else %}
        <script>
            require(['script/ajax-question_creator']);
        </script>    
    {% endif %}
    <script>
        require(['script/ajax-quizz','script/ajax-finder']);
    </script> 

{% endblock %}




{% block details %}
{% endblock %}


{% block type_of_choices %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px;">
            <label>Titre </label>
            {{ form.title|add_class:"form-control"   }}
            {{ form.title.errors }}
            <div class="form-group">     
                <label>Enoncé :</label><br/>
                {{ form.annoncement |add_class:"form-control"|attr:"rows:3" }}
                {{ form.annoncement.errors }} <br/>
            </div>           
        </div>                                            
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px">    
            {% include 'qcm/qtype/0_config_middle.html' %}
        </div>
    </div>       
</div>
  <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />
    <div class="form_card" style="margin-top:20px;" id="answers_list">            
        <span class="btn btn-sacado_active">Les couples Questions/réponses</span> <span class="proposition pull-right"><small>Séparer chaque réponse possible par _|_ (1 séparateur = 3 symboles) </small> </span> 
        {{ form_ans.management_form }}
        <div id="formsetZone">
       
        {% for form in form_ans %} 
            {{ form.id }}
            <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >
                <div class="col-sm-12">
                    <div class="row answer_box_light_purple ">
                        <div class="col-sm-12 col-md-7 proposition  answer_box_no_border" > 
                            {{ form.answer|attr:"placeholder:Ecrire la question"|add_class:"quizz_font30 quizz_answer"  }}
                        </div>
                        <div class="col-sm-12 col-md-5 reponse  answer_box_no_border" >
                            {{ form.answerbis|attr:"placeholder:Ecrire la réponse attendue"|add_class:"quizz_font30 quizz_answer"  }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12" >
                            <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Afficher un feedback/une correction si cette réponse est choisie. </a>
                            <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                            {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire ici" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" >
                <a href="javascript:void();"  class="add_more btn btn-sacado_active" ><i class="bi bi-plus-circle"></i> Ajouter <span class="qr">un couple Question/Réponse</span> </a><br/><br/>
            </div>                            
        </div>
    </div>

    <div class="col-sm-12 col-md-7" >
        <div class="row form_card" style="margin-top:20px;">
            {% include 'qcm/qtype/_content_correction.html' %}
        </div> 
    </div> 
<div class="row">
</div>




<script id="rowToClone" type="text/template">
    <div id="duplicate"> 
        <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
            <div class="col-sm-12">
                <div class="row answer_box_light_purple">
                    <div class="col-sm-12 col-md-7 answer_box_no_border" > 
                        {{ form_ans.empty_form.answer|attr:"placeholder:Ecrire la question"|add_class:"quizz_font30 quizz_answer"  }}
                    </div>
                    <div class="col-sm-11 col-md-4 answer_box_no_border" > 
                        {{ form_ans.empty_form.answerbis|attr:"placeholder:Ecrire la réponse attendue"|add_class:"quizz_font30 quizz_answer"  }}
                    </div>
                    <div class="col-sm-1 col-sm-1">
                        <span class="btn btn-danger remove_more"><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void()" class="automatic_insertion"   id="feed_back"><i class="bi bi-arrow-return-right"></i> Afficher un feedback/une correction si cette réponse est choisie. </a>
                        <div id="div_feed_back{{ forloop.counter0 }}" class="checkbox_no_display">
                        {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire ici" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script> 
{% endblock %}                
 