{% extends 'tool/form_question_positionnement.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}




{% block require %}
    {% if question %}
        <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
    {% else %}
        <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>
        <script>
            require(['script/ajax-question_creator_create','script/ajax-finder']);
        </script> 
    {% endif %}
 

    {% if  qtype == 15 or qtype == 18 %}
        <script>
            require(['script/ajax-question_creator_canvas']);
        </script> 
    {% elif qt.is_sub %}
        <script>
            require(['script/ajax-question_creator_sub']);
        </script> 
    {% else %}
        <script>
            require(['script/ajax-question_creator']);
        </script>    
    {% endif %}
    <script>
        require(['script/ajax-finder']);
    </script> 

{% endblock %}



{% block details %}
{% endblock %}





{% block type_of_choices %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <div class="col-sm-12 col-md-12">
                <span class="btn btn-sacado_active">Les textes</span>  
                <label>
                    <span class="label label-sacado">1</span> Écrire le texte
                    <span class="label label-sacado" style="margin-left:15px">2</span> Surligner en gras les mots, groupes de lettres à mettre en trou.
                </label>
            </div>
            {{ form_ans.management_form }}
            <div id="formsetZone">
            <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />

            {% for form in form_ans %} 
                {{ form.id }}
                <div class="col-sm-6 ">
                    <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
                        <div class="col-sm-12">
                            <div class="row answer_box_light_purple">
                                <div class="col-sm-12 col-md-12">
                                    {{ form.answer|attr:"required"|add_class:"form-control this_text"  }}
                                </div>
                            </div> 
                            <div class="col-sm-12 col-md-12" >
                                <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction </a>
                                <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12 col-md-12" >
                    <a href="javascript:void();"  class="add_more btn btn-sacado_active" ><i class="bi bi-plus-circle"></i> Ajouter un texte </a><br/><br/>
                </div>                            
            </div>
        </div>     
    </div>       
</div>

<div class="row" style="display:none">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            {% include 'qcm/qtype/_content_correction.html' %} 
        </div>   
    </div>       
</div>


<script id="rowToClone" type="text/template">
    <div id="duplicate">                
        <div class="col-sm-6 ">
            <div class="row quizz_line_answer quizz_box_answer quizz_box_answer_left" >  
                <div class="col-sm-12">
                    <div class="row answer_box_light_purple">
                        <div class="col-sm-11 col-md-11">
                            {{ form_ans.empty_form.answer|attr:"required"|add_class:"form-control this_text"  }}                                    
                        </div>
                        <div class="col-sm-1 col-md-1">                                   
                            <span class="remove_more btn btn-danger pull-right"><i class="bi bi-trash"></i> </span> 
                        </div>
                    </div>   
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Ecrire une rétroaction/des éléments de correction </a>
                        <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                        {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script> 
{% endblock  %}