{% extends 'tool/form_question_positionnement.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>
    
    {% if  qtype == 15 or qtype == 18 %}
        <script>
            require(['script/ajax-support_creator_canvas']);
        </script> 
    {% elif qt.is_sub %}
        <script>
            require(['script/ajax-support_creator_sub']);
        </script> 
    {% else %}
        <script>
            require(['script/ajax-support_creator']);
        </script>    
    {% endif %}

    {% if not supportfile %}
        <script>
            require(['script/ajax-support_creator_create','script/ajax-finder']);
        </script> 
    {% endif %}
{% endblock %}



{% block details %}
{% endblock %}



{% block type_of_choices %}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <span class="btn btn-sacado_active">Les paires</span>
            {{ form_ans.management_form }}
            <div id="formsetZone">
            <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />
            {% for form in form_ans %} 
                {{ form.id }}
                <div class="col-sm-12">
                    <div class="row quizz_line_answer quizz_box_answer" > 
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row  answer_box_light_purple">
                                        <div class="col-sm-2 col-md-2 get_image"  align="center" id="imager{{ forloop.counter0 }}"> 
                                            <svg width="30" height="20" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-image{{ forloop.counter0 }}">
                                              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                            </svg>
                                            {{ form.imageanswer|add_class:"choose_imageanswer" }}
                                            <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" width="90px" class="choose_imageanswer preview" id="preview{{ forloop.counter0 }}"> 
                                        </div>
                                        <div class="col-sm-1" > </div>
                                        <div class="col-sm-9 col-md-9 answer_box_no_border quizz_box_answer_small" > 
                                            {{ form.answer|attr:"placeholder:Texte 1"|add_class:"quizz_font30 quizz_answer"  }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row answer_box_light_purple">
                                        <div class="col-sm-2 col-md-2 get_image"  align="center" id="imagerbis{{ forloop.counter0 }}"> 
                                            <svg width="30" height="20" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-imagebis{{ forloop.counter0 }}">
                                              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                            </svg>
                                            {{ form.imageanswerbis|add_class:"choose_imageanswerbis" }}
                                            <img src="{% if form.imageanswerbis.url %}{{ form.imageanswerbis.url }}{% endif %}" width="90px" class="choose_imageanswerbis preview" id="previewbis{{ forloop.counter0 }}"> 
                                        </div>
                                        <div class="col-sm-1" > </div>
                                        <div class="col-sm-9 col-md-9 answer_box_no_border quizz_box_answer_small" > 
                                            <a href="#" id="delete_imgbis{{ forloop.counter0 }}" class="preview delete_imgbis"><i class="fa fa-trash"></i></a> 
                                            {{ form.answerbis|attr:"placeholder:Texte 2"|add_class:"quizz_font30 quizz_answer"  }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12" >
                                        <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Écrire une rétroaction ou des éléments de correction</a>
                                        <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                        {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>    
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12" >
                    <a href="javascript:void();"  class="add_more btn btn-sacado" ><i class="bi bi-plus-circle"></i> Ajouter une paire </a><br/><br/>
                </div>                            
            </div>
        </div>     
    </div>       
</div>

<script id="rowToClone" type="text/template">
    <div id="duplicate">
        <div class="col-sm-12">
            <div class="row quizz_line_answer quizz_box_answer"> 
                <div class="col-sm-11">
                    <div class="row ">
                        <div class="col-sm-6">
                            <div class="row answer_box_light_purple">
                                <div class="col-sm-2 col-md-2 get_image"  align="center" id="imager"> 
                                    <svg width="30" height="20" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-image">
                                      <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                      <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                    </svg>
                                    {{ form_ans.empty_form.imageanswer|add_class:"choose_imageanswer" }}
                                    <img src="" width="90px" class="choose_imageanswer preview" id="preview">
                                </div>
                                <div class="col-sm-1" > </div>
                                <div class="col-sm-9 col-md-9 answer_box_no_border quizz_box_answer_small" > 
                                    {{ form_ans.empty_form.answer|attr:"placeholder:Texte 1"|add_class:"quizz_font30 quizz_answer"  }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row answer_box_light_purple">
                                <div class="col-sm-2 col-md-2 get_image"  align="center" id="imagerbis"> 
                                    <svg width="30" height="20" fill="currentColor" class="bi bi-image answer_margin5" viewBox="0 0 15 15" id="file-imagebis">
                                      <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                      <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                    </svg>
                                    {{ form_ans.empty_form.imageanswerbis|add_class:"choose_imageanswerbis" }}
                                    <img src="" width="90px" class="choose_imageanswerbis preview" id="previewbis"> 
                                </div>
                                <div class="col-sm-1" > </div>
                                <div class="col-sm-9 col-md-9 answer_box_no_border quizz_box_answer_small" > 
                                    <a href="#" id="delete_imgbis" class="preview delete_imgbis"><i class="fa fa-trash"></i></a> 
                                    {{ form_ans.empty_form.answerbis|attr:"placeholder:Texte 2"|add_class:"quizz_font30 quizz_answer"  }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" >
                                <a href="javascript:void()" class="automatic_insertion"   id="feed_back"><i class="bi bi-arrow-return-right"></i> Écrire une rétroaction ou des éléments de correction</a>
                                <div id="div_feed_back" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ajouter du texte" }}
                                </div>
                            </div>
                        </div>
                    </div>    
                </div> 
                <div class="col-sm-1 col-md-1" align="center"><br/> 
                    <span class="remove_more btn btn-danger pull-right"><i class="bi bi-trash"></i> </span> 
                </div>
            </div>
        </div>
    </div>
</script> 
{% endblock %}


                
 