{% extends 'qcm/qtype/form_answer_all_types.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-check_secretword','script/slider_answer_box']);
    </script> 
{% endblock %}

{% block answer_all_type_template %}


	{% for annoncement in annoncements %} 
        <li class="this_slide" id="this_slide{{ forloop.counter }}">
		    <div class="row"  align="left" style="margin-top:10px">
		        {% if annoncement %}
		            <div class="col-sm-12 col-lg-12 custom_content" style="max-height:90px">
		            	{{ annoncement|safe }}
		            	<label>Vous devez trouver {{ numexo}} mots cachés.</label>
		            </div>
		        {% endif %}
		    </div> 

		    {% with choice=shufflechoices|index:forloop.counter0 %}
			<div class="row" style="padding: 10px; font-size:18px"> 
				<div class="col-sm-12 col-sm-6" align='center'>
 
					
					{% for c in choice.answer %}
						<input class="secret_letter" id="secret_letter{{ forloop.counter0}}-{{ forloop.parentloop.counter }}" data-choice_id="{{ choice.id }}" data-loop="{{ forloop.parentloop.counter }}"  data-index="{{ forloop.counter0}}"  />
					{% endfor %}
 
					<div id="used_letter{{ forloop.counter}}" align='left' style="font-weight: bold;color:blue"></div>
					<input id="nb_tries{{ forloop.counter}}" type="hidden" value="10" />
					<input id="position{{ forloop.counter}}" type="hidden" value="200"  />
					<input id="word_length{{ forloop.counter}}" type="hidden" value="{{ choice.answer|length }}"  />
					<input id="word_length_i{{ forloop.counter}}" type="hidden" value="{{ choice.answer|length }}"  />
					<div class="row" id="wordguess-counter{{ forloop.counter}}" style="margin-top:20px;height:200px;width:166px;background-position: 0 200px;background-image:url({% static 'img/wordguess-counter.png' %})" title="Vous avez 10 essais"> </div>

				</div>	 
				<div class="col-sm-12 col-sm-6" >		            	
					<span id="win_sentence{{ forloop.counter }}"></span>
				</div>
			</div>
			{% endwith %}
		    <div class="row validation">
		    	<div class="col-sm-12 col-md-3" align="center"  >
		            <a  href="#" class="nav_start btn btn-primary show_sort_correction" data-supportfile_id="{{ supportfile.id }}"   
		            	id="nav_start{{ forloop.counter }}" data-loop="{{ forloop.counter }}"><i class="fa fa-caret-right"></i> Valider </a>
		        </div>
		    </div>
			{% include 'qcm/qtype/_correction_div.html' %}
        </li> 
    {% endfor %}

	{% include 'qcm/qtype/_last_slide.html' %}

        

{% endblock %}